# Japanese Temperature Data Collection
This is a companion to the other Japanese Meteorological Agency notebook on Sakura Data processing.


Sources:
* https://www.data.jma.go.jp/obd/stats/data/mdrr/man/kansoku_gaiyou.html  (smater.index file)
* https://www.data.jma.go.jp/gmd/risk/obsdl/index.php Temperature Request site

Notes:
I'm really hoping this smaster file has the data I need. Well not so much the data as it is the station identifiers that get used in the POST requests to the other link.

Notes2:
This data file has the data I need! HOORAY! Well at least part of it, the station numbers match up with the last 3 digits of the requests I manually put in for Kyoto, Nara, and Osaka

In [20]:
import sys
import pandas as pd

In [18]:
with open('Japan Temp Data/smaster.index', encoding='shift_jis') as file:
    for i in range(5):
        line = file.readline()
        print(line)

401 18343       ﾜﾂｶﾅｲ   WAKKANAI    4524901414070        32    11961010119651231

401 18143       ﾜﾂｶﾅｲ   WAKKANAI    4524901414070        32    11966010119661231

401 18573       ﾜﾂｶﾅｲ   WAKKANAI    4524901414070        32    11967010119671231

401 18578       ﾜﾂｶﾅｲ   WAKKANAI    4524901414070        32    11968010119681231

401 18578       ﾜﾂｶﾅｲ   WAKKANAI    4524901414070       109    11969010119701231

In [36]:
col_widths = [
3 ,
1 ,
1 ,
1 ,
1 ,
1 ,
1 ,
1 ,
1 ,
1 ,
2 ,
1 ,
1 ,
8 ,
12 ,
6 ,
7,
5 ,
5 ,
3 ,
1 ,
1 ,
8 ,
8 ,
12 ,
18 ,
8 ,
5 ,
12 ,
1 ,
1 ,
1 ,
1 ,
1 ,
1 ,
5]
,
with open('Japan Temp Data/smaster.index', encoding='shift_jis') as file:
    smaster = pd.read_fwf(file,header=None,widths=col_widths,dtype='object')

In [48]:
smaster.loc[smaster[14] == 'NARA'].T

,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124
0,780,780,780,780,780,780,780,780,780,780,780,780,780,780,780,780,780,780
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,0
4,3,1,5,5,5,5,5,5,5,5,5,5,1,1,1,1,1,1
5,4,4,7,7,7,7,7,0,0,0,0,0,0,0,0,0,0,0
6,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
7,NaN,NaN,NaN,NaN,NaN,2,2,2,2,3,3,3,3,3,3,3,3,3
8,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,64,64,64,64,64,64,64,64,64,64,64,64
11,NaN,NaN,NaN,NaN,NaN,NaN,4,4,4,4,4,4,4,4,4,4,4,4
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ,ﾅﾗ
14,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA,NARA
15,344160,344160,344160,344160,344160,344160,344160,344160,344160,344160,344160,344160,344160,344160,344160,344040,344040,344040
16,1354960,1354960,1354960,1354960,1354960,1354960,1354960,1354960,1354960,1354960,1354960,1354960,1354960,1354960,1354960,1355020,1355020,1355020
17,NaN,NaN,NaN,111,111,112,112,112,112,111,111,111,111,114,114,199,201,201
18,1058,1058,1058,1058,1055,1055,1055,1055,1055,1055,1055,1090,1090,1090,1090,1038,1038,1038
19,NaN,NaN,NaN,NaN,NaN,NaN,5,5,5,5,5,5,5,10,10,9,9,9
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,2,2,2,2,2,2,2,2,2
21,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
22,19610101,19660101,19670101,19710101,19800601,19840210,19860101,19890401,19930201,20000209,20000210,20040901,20080625,20121213,20121218,20170309,20191120,20200203
23,19651231,19661231,19701231,19800531,19840209,19851231,19890331,19930131,20000208,20000209,20040831,20080624,20121212,20121217,20170308,20191119,20200202,99999999
24,,,,,,,奈良 奈良地方気象,奈良 奈良地方気象,奈良 奈良地方気象,奈良 奈良地方気象,奈良 奈良地方気象,奈良 奈良地方気象,奈良 奈良地方気象,奈良 奈良地方気象,奈良 奈良地方気象,奈良 奈良地方気象,奈良 奈良地方気象,奈良 奈良地方気象
25,,,,,,,台 奈良県,台 奈良県,台 奈良県,台 奈良県,台 奈良県 1044,台 奈良県 1044,台 奈良県 1044,台 奈良県 1044,台 奈良県 1044,台 奈良県 1021,台 奈良県 1021,台 奈良県 1021
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00,00,00,00,00,00,00,00,01
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,010,010,010,010,010,110,110,110,110
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN