# Sakura Data Processing (Japan Meteorological Agency)
The Japan Meteorological Agency (JMA) has a lot more data than JMC does so I'm using their data for processing. Hopefully they have accompanything temperature data that I can use once I get to the modeling stage, otherwise I might 

Notes:
* When I get to the modeling stage, I will probably have to weight recent weather/temperature data higher than old temperature data because of global climate change impacts.
* Bloom URL's are sakura003_00.html up to sakura003_06.html
* Full Bloom URL's are sakura004_00.html up to sakura004_06.html

The bottom of the pages have some definitions and notes on the data. I'm using those to determine column names and do some of the translations manually. 

For posterity (said notes):

 「*」が現在観測中の地点です。<br>
 代替種目が空欄の地点はそめいよしのを観測しています。<br>
 「-」は観測値なしを表しています。<br>
 平年値は、1981-2010年の平均値です。<br>
 「#」は、前年に観測したことを表します。<br>
 (注）倶知安は1994年までえぞやまざくらを、1995年から2006年までそめいよしのを観測していました。
 
Which rougly translates to

\*: The asteric denotes locations that are currently being observed. <br>
\-: The dash represents no observation value. <br>
平年値: This column is the normal year average from 1981 to 2010. <br>
\#: This represents that the observation was made in the previous year. <br>
注: Until 1994 the observations at Kutchan were Sargent Cherries. From 1995 to 2006 they were Yoshino Cherries.

In [1]:
import pandas as pd
import numpy as np
import urllib
import requests
from bs4 import BeautifulSoup
import lxml
import time
import re
from io import StringIO
from googletrans import Translator

In [2]:
# Workaround because I'm on an old version of pandas
pd.set_option("display.max_colwidth", 10000)

In [3]:
def batch_translation(df, column_src, batch_size=100):
    idx = 0
    while idx < df[column_src].size:
        # Spawn a new translator session to see if that gets past the 429 code from Google.
        translator = Translator()
        translator.raise_Exception = True
        df.loc[idx:idx+batch_size-1,column_src] = df.loc[idx:idx+batch_size-1,column_src].apply(translator.translate, src='ja').apply(getattr, args=('text',))
        idx = idx+batch_size
        print(f"Current index: {idx} of {df[column_src].size}")
        time.sleep(10)

In [4]:
def extract_sakura_data(url,batch=False,pause_length=2):    
    #colspecs = [(0,5),(5,9),(9,16),(16,23),(23,30),(30,37),(37,44),(44,51),(51,58),(58,65),(65,72),(72,78),(78,86),(86,None)]

    # Be nice to the endpoint and wait a bit if we're doing batch processing of multiple function calls. 
    if batch:
        time.sleep(pause_length)
    bloom_req = requests.get(url)
    bloom_content = BeautifulSoup(bloom_req.content, 'lxml')

    print(f"Processing: {bloom_content.title.text}")
    # Convert the text table to a string IO so that pandas can read it in.
    #print(bloom_content.find(id='main').pre.text)
    bloom_string = StringIO(bloom_content.find(id='main').pre.text)

    #Find the first real line so we can dynmiacally determine the column spacings
    for line in bloom_string:
        if line.isspace() == False:
            break;

    #Find all of the character locations of each year
    year_iter = re.finditer("\d{4}", line)
    year_indices = [(m.start(0),m.end(0)+3) for m in year_iter]

    #Pick the ending character of the last year so we can add the last two columns.
    end_char = year_indices[-1][1]

    dynamic_colspecs = [(0,5),(5,9)]
    end_colspecs = [(end_char,end_char+8),(end_char+8,None)]

    # Put everything together in the same list
    dynamic_colspecs.extend(year_indices)
    dynamic_colspecs.extend(end_colspecs)

    # Reset the string stream so we can re-parse the entire thing.
    bloom_string.seek(0)
    
    
    if debug_print:
        print(bloom_string.getvalue())

    bloom_df = pd.read_fwf(bloom_string,header=2,colspecs=dynamic_colspecs,true_values=['*'])
    if debug_print:
        print(bloom_df.head())

    # Get rid of the extra headers that showed up for readability on a web page.
    bloom_df.columns = bloom_df.columns.str.strip()

    bloom_df[bloom_df.duplicated()]
    bloom_df = bloom_df.drop_duplicates()
    
    bloom_df.drop(bloom_df.loc[bloom_df['地点名'].isna()].index, inplace=True)
    bloom_df.drop(bloom_df[bloom_df['地点名'].str.contains('地点名')].index, inplace=True)

    #Parse the year columns into datetime format.
    for col in bloom_df:
        if str.isnumeric(col):
            # Account for the # entries (which are usually dates measured in december)
            if bloom_df[col].str.contains('#').any():
                last_year = bloom_df[col].str.contains('#',na=False)
                this_year = ~bloom_df[col].str.contains('#',na=False)
                
                bloom_df.loc[last_year,col] = bloom_df.loc[last_year,col] + f' {int(col)-1}'
                bloom_df.loc[this_year,col] = bloom_df.loc[this_year,col] + f' {col}'
                bloom_df[col] = bloom_df[col].str.replace("#","")
            else:
                bloom_df[col] = bloom_df[col] + f' {col}'
            bloom_df[col] = pd.to_datetime(bloom_df[col],errors='coerce',exact=False,format="%m %d %Y")
            
            #   Data Assertion: No dates should exist in the current year after October. If they exist, they should be in the previous year.
            #if bloom_df.loc[bloom_df[col] > pd.to_datetime(f'{col}-10-01'),col].any():
            #    bloom_df.loc[bloom_df[col] > pd.to_datetime(f'{col}-10-01'),col] = bloom_df.loc[bloom_df[col] > f'{col}-10-01',col] - pd.DateOffset(years=1)

    # Translate the non date columns
    bloom_df.rename(columns={bloom_df.columns[0]: 'Site Name',
                          'Unnamed: 1': 'Currently Being Observed',
                          bloom_df.columns[-2]: '30 Year Average 1981-2010',
                          bloom_df.columns[-1]: 'Notes' }, inplace=True)
    
    bloom_df.set_index('Site Name',inplace=True)
    
    #Fix stray #'s
    # Note: There's probably a better way of doing this, but I haven't found it yet.
    bloom_df['30 Year Average 1981-2010'] = bloom_df['30 Year Average 1981-2010'].str.replace("#","")
    
    # Fix the boolean data.
    # There were set values for True, blank got converted into NaN.
    bloom_df['Currently Being Observed'].fillna(False,inplace=True)
    
    with pd.option_context('display.max_rows', None):
        if debug_print:
            display(bloom_df)
            
    return bloom_df

#TODO: Come up with a more descriptive title that isn't super long.
def combine_sakura_data(bloom_dfs):
    
    concated = pd.concat(bloom_dfs,axis=1)
    concated.drop_duplicates(inplace=True)
    
    # Translations
    concated = concated.reset_index()
    concated['Site Name'] = concated['Site Name'] + ', 日本'
    batch_translation(concated,'Site Name',batch_size=10)
    concated['Site Name'] = concated['Site Name'].str.replace(', Japan', "")
    concated.set_index('Site Name',inplace=True)

    # Google translate doesn't properly translate the notes column, so I'm doing that manually.
    notes_dict = {'えぞやまざくら': 'Sargent cherry (Prunus sargentii)',
                  'ちしまざくら': 'Kurile Island Cherry (Cerasus nipponica var. kurilensis)',
                 'ひかんざくら': 'Taiwan cherry (Prunus campanulata)',
                  '（注）': 'Until 1994 Sargent Cherry, from 1995 to 2006 they were Yoshino Cherry.'}
    
    observed_col = concated['Currently Being Observed'].iloc[:,0]
    transposed = concated.T.drop_duplicates(keep='last')
    transposed.drop('Currently Being Observed',inplace=True)

    combined_blooms = transposed.T
    combined_blooms.insert(0,'Currently Being Observed',observed_col);

    combined_blooms.Notes = combined_blooms.Notes.map(notes_dict)
    
    return combined_blooms

In [5]:
debug_print = False
bloom_urls = ['https://www.data.jma.go.jp/sakura/data/sakura003_00.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura003_01.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura003_02.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura003_03.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura003_04.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura003_05.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura003_06.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura003_07.html']

bloom_dfs = [extract_sakura_data(x,batch=True) for x in bloom_urls]
bloom_start = combine_sakura_data(bloom_dfs)

Processing: 気象庁 | さくらの開花日(1953-1960年)
Processing: 気象庁 | さくらの開花日(1961-1970年)
Processing: 気象庁 | さくらの開花日(1971-1980年)
Processing: 気象庁 | さくらの開花日(1981-1990年)
Processing: 気象庁 | さくらの開花日(1991-2000年)
Processing: 気象庁 | さくらの開花日(2001-2010年)
Processing: 気象庁 | さくらの開花日(2011-2020年)
Processing: 気象庁 | さくらの開花日(2021-2023年)
Current index: 10 of 102
Current index: 20 of 102
Current index: 30 of 102
Current index: 40 of 102
Current index: 50 of 102
Current index: 60 of 102
Current index: 70 of 102
Current index: 80 of 102
Current index: 90 of 102
Current index: 100 of 102
Current index: 110 of 102

In [6]:
debug_print = False
full_bloom_urls = ['https://www.data.jma.go.jp/sakura/data/sakura004_00.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura004_01.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura004_02.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura004_03.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura004_04.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura004_05.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura004_06.html',
                     'https://www.data.jma.go.jp/sakura/data/sakura004_07.html']

full_bloom_dfs = [extract_sakura_data(x,batch=True) for x in full_bloom_urls]
full_bloom = combine_sakura_data(full_bloom_dfs)

Processing: 気象庁 | さくらの満開日(1953-1960年)
Processing: 気象庁 | さくらの満開日(1961-1970年)
Processing: 気象庁 | さくらの満開日(1971-1980年)
Processing: 気象庁 | さくらの満開日(1981-1990年)
Processing: 気象庁 | さくらの満開日(1991-2000年)
Processing: 気象庁 | さくらの満開日(2001-2010年)
Processing: 気象庁 | さくらの満開日(2011-2020年)
Processing: 気象庁 | さくらの満開日(2021-2023年)
Current index: 10 of 102
Current index: 20 of 102
Current index: 30 of 102
Current index: 40 of 102
Current index: 50 of 102
Current index: 60 of 102
Current index: 70 of 102
Current index: 80 of 102
Current index: 90 of 102
Current index: 100 of 102
Current index: 110 of 102

In [7]:
# Sanity checks
#    Full bloom is *ALWAYS* after the initial bloom. If it's not something somewhere is wrong.

date_cols = [col for col in bloom_start.columns if str.isnumeric(col)]
broken_dates = full_bloom[date_cols].fillna(pd.Timestamp('2024-01-01')) < bloom_start[date_cols].fillna(pd.Timestamp('1950-01-01'))

broken_dates.any().any()

False

In [10]:
# Translations Final Fixes
#bloom_start = bloom_start.rename(index={"Iriomotei sand": "Iriomote Island"},errors="raise")
#full_bloom = full_bloom.rename(index={"Iriomotei sand": "Iriomote Island"},errors="raise")

In [9]:
bloom_start.to_csv('sakura_first_bloom_dates.csv')
full_bloom.to_csv('sakura_full_bloom_dates.csv')

# Troubleshooting
This is my area for misc troubleshooting. Fully working code is above this.

In [14]:
df = bloom_dfs[0].reset_index()
idx = 0
batch_size = 10
column_src = "Site Name"



while idx < df[column_src].size:
    # Spawn a new translator session to see if that gets past the 429 code from Google.
    translator = Translator()
    translator.raise_Exception = True
    df.loc[idx:idx+batch_size,column_src] = df.loc[idx:idx+batch_size,column_src].apply(translator.translate, src='ja').apply(getattr, args=('text',))
    idx = idx+batch_size
    print(f"Current index: {idx} of {df[column_src].size}")
    time.sleep(10)

#df.loc[idx:idx+batch_size,column_src] = df.loc[idx:idx+batch_size,column_src].apply(translator.translate, src='ja').apply(getattr, args=('text',))
#print(f"Current index: {idx} of {df[column_src].size}")

Current index: 10 of 102
Current index: 20 of 102
Current index: 30 of 102
Current index: 40 of 102
Current index: 50 of 102

ReadTimeout: The read operation timed out

In [15]:
bloom_start = bloom_start.rename(index={"Iriomotei sand": "Iriomote Island"},errors="raise")

NameError: name 'bloom_start' is not defined

In [37]:
full_bloom

,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,1961,...,2013,2014,2015,2016,2017,2018,2019,2020,30 Year Average 1981-2010,Notes
Site Name,,,,,,,,,,,,,,,,,,,,,
Wakkanai,True,1953-05-30,1954-05-27,1955-05-23,1956-05-14,1957-05-22,1958-05-25,1959-05-12,1960-05-24,1961-05-18,...,2013-05-28,2014-05-13,2015-05-06,2016-05-15,2017-05-11,2018-05-15,2019-05-09,2020-05-12,5 17,Sargent cherry (Prunus sargentii)
Rumoi,False,1953-05-13,1954-05-17,1955-05-16,1956-05-14,1957-05-14,1958-05-16,NaT,NaT,1961-05-13,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,Sargent cherry (Prunus sargentii)
Asahikawa,True,1953-05-16,1954-05-18,1955-05-14,1956-05-13,1957-05-14,1958-05-15,1959-05-13,1960-05-16,1961-05-12,...,2013-05-20,2014-05-04,2015-04-28,2016-05-04,2017-05-05,2018-05-01,2019-05-04,2020-05-04,5 7,Sargent cherry (Prunus sargentii)
Abashiri,True,1953-05-26,1954-05-19,1955-05-20,1956-05-13,NaT,NaT,1959-05-07,NaT,NaT,...,2013-05-27,2014-05-11,2015-05-03,2016-05-10,2017-05-07,2018-05-06,2019-05-07,2020-05-09,5 14,Sargent cherry (Prunus sargentii)
Sapporo,True,1953-05-14,1954-05-08,1955-05-16,1956-05-09,1957-05-13,NaT,1959-05-10,1960-05-09,1961-05-09,...,2013-05-17,2014-05-01,2015-04-26,2016-05-01,2017-05-03,2018-04-29,2019-04-29,2020-05-02,5 7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kumejima,False,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,Taiwan cherry (Prunus campanulata)
Naha,True,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,2013-01-23,2014-01-27,2015-01-29,2016-02-12,2017-02-08,2018-01-30,2019-02-12,2020-02-03,2 4,Taiwan cherry (Prunus campanulata)
Nago,False,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,Taiwan cherry (Prunus campanulata)
Iriomote Island,False,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,Taiwan cherry (Prunus campanulata)
Minamidaitojima,True,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,2013-01-21,2014-01-22,2015-02-13,2016-03-01,2017-02-14,2018-01-29,2019-02-12,NaT,2 2,Taiwan cherry (Prunus campanulata)

In [78]:
full_bloom[full_bloom[date_cols].fillna(pd.Timestamp('2020-01-02')) < bloom_start[date_cols].fillna(pd.Timestamp('2020-01-01'))]

,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,1961,...,2013,2014,2015,2016,2017,2018,2019,2020,30 Year Average 1981-2010,Notes
Site Name,,,,,,,,,,,,,,,,,,,,,
Wakkanai,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
Rumoi,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
Asahikawa,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
Abashiri,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
Sapporo,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kumejima,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
Naha,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
Nago,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
Iriomotei sand,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN
Minamidaitojima,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,NaN

In [20]:
debug_print = True
test_url = 'https://www.data.jma.go.jp/sakura/data/sakura004_00.html'

test_df = extract_sakura_data(test_url)

Processing: 気象庁 | さくらの満開日(1953-1960年)


地点名　     1953   1954   1955   1956   1957   1958   1959   1960   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

稚内     *   5 30   5 27   5 23   5 14   5 22   5 25   5 12   5 24    5 17    えぞやまざくら
留萌         5 13   5 17   5 16   5 14   5 14   5 16      -      -       -    えぞやまざくら
旭川     *   5 16   5 18   5 14   5 13   5 14   5 15   5 13   5 16    5  7    えぞやまざくら
網走     *   5 26   5 19   5 20   5 13      -      -   5  7      -    5 14    えぞやまざくら
札幌     *   5 14   5  8   5 16   5  9   5 13      -   5 10   5  9    5  7
岩見沢       5 11   5  9   5 13   5  9      -   5 14      -   5 15       -    えぞやまざくら
帯広     *   5 19   5 12   5 14   5  9   5 14   5 16   5  5   5 15    5  7    えぞやまざくら
釧路     *      -   5 28   5 26      -   5 19   5 29   5 20   5 28    5 20    えぞやまざくら
根室            -      -      -      -      -      -      -   6  8       -    ちしまざくら
室蘭     *   5 17   5 13   5 23   5 13   5 14   5 17   4 30   5 14    5 11

浦河         5 14   5 13   5 15   5 11   5 18   5 16   5  5   5 18       -    えぞやまざくら
江差         5 15   5  8   5  8   5  9   5  9   5 11   5  6   5  9       -
函館     *   5  9   5  7   5 14   5  8   5 12   5 10   5  2   5 10    5  4
倶知安          -   5 19   5 23      -   5 19   5 20   5  6   5 20       -    （注）
紋別            -      -      -   5 11   5 18   5 20   5  4   5 17       -    えぞやまざくら
広尾            -      -      -      -      -   5 15   5  3   5 13       -    えぞやまざくら
新庄            -      -      -      -      -   4 28   4 21   4 29       -
青森     *      -      -      -   5  2   5  7   5  4   4 25   5  1    4 29
八戸         5  2   4 26   4 26   4 27   5  1   4 27   4 23   5  1       -
秋田     *   4 29   4 22   4 23   4 26   4 29   4 29   4 17   4 27    4 22

地点名　     1953   1954   1955   1956   1957   1958   1959   1960   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

盛岡     *   5  3   4 26   4 27   4 28   5  2   4 29   4 21   4 29    4 25
宮古         4 29   4 20   4 16   4 23   4 23   4 24   4 19   4 26       -
酒田         4 22   4 18   4 15   4 21   4 23   4 22   4 12   4 21       -
山形     *   4 27   4 18   4 15   4 21   4 27   4 23   4 16   4 24    4 19
仙台     *   4 17   4 12   4 16   4 19   4 21   4 15   4 10   4 17    4 16
福島     *   4 11   4  9   4 11   4 16   4 19   4  9   4  8   4 14    4 13
白河         4 26   4 15   4 15   4 19   4 21   4 21   4 15   4 19       -
小名浜       4 13   4  6   4 10   4 16   4 17   4 13   4  6   4 14       -
輪島         4 16   4 11   4 10   4 16   4 21   4 15   4  5   4 11       -
相川         4 20   4 11   4 12   4 17   4 22   4 17   4  9   4 14       -

新潟     *   4 20   4 15   4 13   4 19   4 24   4 21   4 12   4 18    4 14
金沢     *   4 10   4  5   4  8   4 15   4 16   4  8   4  1   4  5    4 10
富山     *   4 12   4  8   4 10   4 15   4 20   4 11   4  6   4  9    4 10
長野     *   4 24   4 13   4 13   4 17   4 23   4 19   4 12   4 23    4 17
高田         4 17   4 10   4 10   4 16   4 21   4 15   4  8   4 12       -
宇都宮   *   4 12   4  7   4  8   4 15   4 14   4 11   4  6   4  8    4  8
福井     *   4 12   4  6   4  9   4 14   4 17   4  7   4  4   4  5    4  9
高山         4 27   4 21   4 14   4 24   4 24   4 17   4 13   4 15       -
松本         4 20   4 11   4 13   4 16   4 20   4 19   4 10   4 14       -
前橋     *   4 17   4  4   4 10   4 13   4 14   4  9   4  4   4  8    4  6

地点名　     1953   1954   1955   1956   1957   1958   1959   1960   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

熊谷     *   4  9   4  5   4  8   4 13   4 12   4  9   4  4   4  7    4  5
水戸     *   4  9   4  6   4  8   4 15   4 14   4 11   4  6   4 10    4  8
敦賀         4 10   4  5   4  6   4 11   4 16   4  8   4  2   4  3       -
岐阜     *   4  9   4  5   4  1   4  7   4 12   4  8   4  3   4  3    4  4
名古屋   *   4 12   4  4   4  3   4  9   4 13   4  7   3 30   4  4    4  3
飯田         4 12   4  7   4  7   4 12   4 16   4  7   3 31   4  5       -
甲府     *   4  8   4  4   4  3   4  7   4  9   4  5   3 30   3 31    4  3
銚子     *   4  5   4  5   4  4   4 11   4  9   4  7   4  2   3 30    4  8
津       *   4 12   4  4   4  5   4  9   4 13   4 13   4  1   4  9    4  5
浜松         4  8   4  3   4  2      -   4 10   4  6   4  3   4  6       -

静岡     *   4  2   4  3   3 30   4  3   4  7   4  4   3 29   4  5    4  3
東京     *   4  5   4  1   4  5   4  8   4 10   4  6   4  5   4  1    4  3
尾鷲         4  5   4  4   3 31   4  6   4 10   4  8   3 29   4  2       -
横浜     *   3 31   4  1   4  4   4  9   4 10   4  5   4  3   4  3    4  3
館山            -      -      -      -      -      -      -      -       -
大島            -   4  2      -      -      -      -      -      -       -
三宅島          -      -      -      -      -      -      -      -       -
八丈島       4  4   4 11   4  4   4  5   4 12   4 16   4 20   4 15       -
西郷         4 18   4  5   4  9   4 14   4 17   4 10   4  3   4  7       -
松江     *   4  9   4  3   4  7   4  9   4 15   4  8      -      -    4  8

地点名　     1953   1954   1955   1956   1957   1958   1959   1960   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

米子            -   4 15   4  6   4 11   4 15   4  8   3 30   4  3       -
鳥取     *   4  8   4  3   4  4   4  8   4 15   4  7   4  2   4  4    4  7
豊岡         4 10   4  5   4  5   4 11   4 11   4  8   3 31   4  2       -
舞鶴         4 10   4  4   4  7   4 11   4 16   4  9   4  3   4  5    4  8
浜田         4  2   4  2   4  2   4 11   4 13   4  5   4  3   4  4       -
京都     *   4 11   4  5   4  7   4 10   4 12   4  8   4  2   4  5    4  5
彦根     *   4 12   4  7   4  8   4 12   4 16   4 10   4  5   4 10    4  9
広島     *   4 11   4  6   4  6   4 11   4 11   4  7   4  3   4  8    4  4
岡山     *   4  9   4  3   4  3   4  9   4 10   4  7   4  2   4  6    4  6
神戸     *   4  9   4  4   4  7   4  7   4 11   4  7   3 31   4  7    4  5

大阪     *      -      -      -      -   4 10      -   4  3   4  9    4  5
洲本         4 15   4  2   4  7   4 10   4 12   4  5   4  3      -       -
和歌山   *      -      -   4  3   4  3   4  8   4  4   3 27   4  4    4  4
潮岬            -      -      -      -      -   4  7      -   3 30       -
奈良     *      -   4  4   4  6   4  7   4 13   4  8   3 29   4  4    4  5
松山     *   4  9   4  7   4  6   4  8   4  9   4  7   4  3   4  9    4  4
高松     *   4  8   4  6   4  7   4 10   4 12   4  7   4  3   4  6    4  5
宇和島          -      -      -      -      -      -      -      -       -
高知     *      -      -   3 28   3 31   4  7      -   4  1   4  3    3 30
徳島     *   4  5   4  5   4  4   4  7   4 10   4  6   4  3   4  3    4  5

地点名　     1953   1954   1955   1956   1957   1958   1959   1960   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

下関     *   4 10   4  6   4  5   4  9   4 11   4  8   4  5   4  6    4  5
厳原         4  8   4  2   4  4   4 12   4 10   4  6   3 30   4  3       -
福岡     *   4  5   4  8   4  5   4  9   4  8   4  5   4  1   3 31    4  1
佐賀     *   4  9   4  5   4  4   4  4   4  7   4  4   3 31   4  8    4  3
大分     *   4  6   4  3   4  2   4  9   4  9   4  7   4  2   4  5    4  3
福江         4  6   4  7   4  2   4  7   4  7   4  3   4  1   4  4       -
長崎     *   4  6   4  5   3 31   4  5   4 10   3 28   3 30   4  2    4  3
熊本     *   4  4   4  4   3 30   4  1   4  7   4  4   3 29   3 30    4  1
延岡            -      -      -      -      -      -      -      -       -
鹿児島   *   4  8   4  8   4  3   4  2   4  7   4  3   3 30   4  3    4  4

宮崎     *   4  3   4  6   4  4   4  4   4  3   3 30   3 30   3 29    4  2
屋久島          -      -      -      -      -      -      -      -       -
種子島       4  3      -      -      -      -   4  5   4  9   4  5       -
名瀬     *   2  2      -      -   1 24   1 31      -   2 12   2  5    1 30    ひかんざくら
与那国島        -      -      -      -      -      -      -      -       -    ひかんざくら
石垣島   *      -      -      -      -      -   1 27   2  2      -    2  5    ひかんざくら
宮古島   *      -   2 14      -   2 10   1 25   1 28   2  4      -    2  9    ひかんざくら
久米島          -      -      -      -      -      -      -      -       -    ひかんざくら
那覇     *      -      -      -      -      -      -      -      -    2  4    ひかんざくら
名護            -      -      -      -      -      -      -      -       -    ひかんざくら

地点名　     1953   1954   1955   1956   1957   1958   1959   1960   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

西表島          -      -      -      -      -      -      -      -       -    ひかんざくら
南大東島 *      -      -      -      -      -      -      -      -    2  2    ひかんざくら

,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,30 Year Average 1981-2010,Notes
Site Name,,,,,,,,,,,
稚内,True,1953-05-30,1954-05-27,1955-05-23,1956-05-14,1957-05-22,1958-05-25,1959-05-12,1960-05-24,5 17,えぞやまざくら
留萌,NaN,1953-05-13,1954-05-17,1955-05-16,1956-05-14,1957-05-14,1958-05-16,NaT,NaT,-,えぞやまざくら
旭川,True,1953-05-16,1954-05-18,1955-05-14,1956-05-13,1957-05-14,1958-05-15,1959-05-13,1960-05-16,5 7,えぞやまざくら
網走,True,1953-05-26,1954-05-19,1955-05-20,1956-05-13,NaT,NaT,1959-05-07,NaT,5 14,えぞやまざくら
札幌,True,1953-05-14,1954-05-08,1955-05-16,1956-05-09,1957-05-13,NaT,1959-05-10,1960-05-09,5 7,NaN
岩見沢,NaN,1953-05-11,1954-05-09,1955-05-13,1956-05-09,NaT,1958-05-14,NaT,1960-05-15,-,えぞやまざくら
帯広,True,1953-05-19,1954-05-12,1955-05-14,1956-05-09,1957-05-14,1958-05-16,1959-05-05,1960-05-15,5 7,えぞやまざくら
釧路,True,NaT,1954-05-28,1955-05-26,NaT,1957-05-19,1958-05-29,1959-05-20,1960-05-28,5 20,えぞやまざくら
根室,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,1960-06-08,-,ちしまざくら
室蘭,True,1953-05-17,1954-05-13,1955-05-23,1956-05-13,1957-05-14,1958-05-17,1959-04-30,1960-05-14,5 11,NaN
浦河,NaN,1953-05-14,1954-05-13,1955-05-15,1956-05-11,1957-05-18,1958-05-16,1959-05-05,1960-05-18,-,えぞやまざくら
江差,NaN,1953-05-15,1954-05-08,1955-05-08,1956-05-09,1957-05-09,1958-05-11,1959-05-06,1960-05-09,-,NaN
函館,True,1953-05-09,1954-05-07,1955-05-14,1956-05-08,1957-05-12,1958-05-10,1959-05-02,1960-05-10,5 4,NaN
倶知安,NaN,NaT,1954-05-19,1955-05-23,NaT,1957-05-19,1958-05-20,1959-05-06,1960-05-20,-,（注）
紋別,NaN,NaT,NaT,NaT,1956-05-11,1957-05-18,1958-05-20,1959-05-04,1960-05-17,-,えぞやまざくら
広尾,NaN,NaT,NaT,NaT,NaT,NaT,1958-05-15,1959-05-03,1960-05-13,-,えぞやまざくら
新庄,NaN,NaT,NaT,NaT,NaT,NaT,1958-04-28,1959-04-21,1960-04-29,-,NaN
青森,True,NaT,NaT,NaT,1956-05-02,1957-05-07,1958-05-04,1959-04-25,1960-05-01,4 29,NaN
八戸,NaN,1953-05-02,1954-04-26,1955-04-26,1956-04-27,1957-05-01,1958-04-27,1959-04-23,1960-05-01,-,NaN
秋田,True,1953-04-29,1954-04-22,1955-04-23,1956-04-26,1957-04-29,1958-04-29,1959-04-17,1960-04-27,4 22,NaN
盛岡,True,1953-05-03,1954-04-26,1955-04-27,1956-04-28,1957-05-02,1958-04-29,1959-04-21,1960-04-29,4 25,NaN
宮古,NaN,1953-04-29,1954-04-20,1955-04-16,1956-04-23,1957-04-23,1958-04-24,1959-04-19,1960-04-26,-,NaN
酒田,NaN,1953-04-22,1954-04-18,1955-04-15,1956-04-21,1957-04-23,1958-04-22,1959-04-12,1960-04-21,-,NaN
山形,True,1953-04-27,1954-04-18,1955-04-15,1956-04-21,1957-04-27,1958-04-23,1959-04-16,1960-04-24,4 19,NaN
仙台,True,1953-04-17,1954-04-12,1955-04-16,1956-04-19,1957-04-21,1958-04-15,1959-04-10,1960-04-17,4 16,NaN
福島,True,1953-04-11,1954-04-09,1955-04-11,1956-04-16,1957-04-19,1958-04-09,1959-04-08,1960-04-14,4 13,NaN
白河,NaN,1953-04-26,1954-04-15,1955-04-15,1956-04-19,1957-04-21,1958-04-21,1959-04-15,1960-04-19,-,NaN
小名浜,NaN,1953-04-13,1954-04-06,1955-04-10,1956-04-16,1957-04-17,1958-04-13,1959-04-06,1960-04-14,-,NaN
輪島,NaN,1953-04-16,1954-04-11,1955-04-10,1956-04-16,1957-04-21,1958-04-15,1959-04-05,1960-04-11,-,NaN
相川,NaN,1953-04-20,1954-04-11,1955-04-12,1956-04-17,1957-04-22,1958-04-17,1959-04-09,1960-04-14,-,NaN
新潟,True,1953-04-20,1954-04-15,1955-04-13,1956-04-19,1957-04-24,1958-04-21,1959-04-12,1960-04-18,4 14,NaN
金沢,True,1953-04-10,1954-04-05,1955-04-08,1956-04-15,1957-04-16,1958-04-08,1959-04-01,1960-04-05,4 10,NaN
富山,True,1953-04-12,1954-04-08,1955-04-10,1956-04-15,1957-04-20,1958-04-11,1959-04-06,1960-04-09,4 10,NaN
長野,True,1953-04-24,1954-04-13,1955-04-13,1956-04-17,1957-04-23,1958-04-19,1959-04-12,1960-04-23,4 17,NaN
高田,NaN,1953-04-17,1954-04-10,1955-04-10,1956-04-16,1957-04-21,1958-04-15,1959-04-08,1960-04-12,-,NaN
宇都宮,True,1953-04-12,1954-04-07,1955-04-08,1956-04-15,1957-04-14,1958-04-11,1959-04-06,1960-04-08,4 8,NaN
福井,True,1953-04-12,1954-04-06,1955-04-09,1956-04-14,1957-04-17,1958-04-07,1959-04-04,1960-04-05,4 9,NaN
高山,NaN,1953-04-27,1954-04-21,1955-04-14,1956-04-24,1957-04-24,1958-04-17,1959-04-13,1960-04-15,-,NaN
松本,NaN,1953-04-20,1954-04-11,1955-04-13,1956-04-16,1957-04-20,1958-04-19,1959-04-10,1960-04-14,-,NaN
前橋,True,1953-04-17,1954-04-04,1955-04-10,1956-04-13,1957-04-14,1958-04-09,1959-04-04,1960-04-08,4 6,NaN
熊谷,True,1953-04-09,1954-04-05,1955-04-08,1956-04-13,1957-04-12,1958-04-09,1959-04-04,1960-04-07,4 5,NaN
水戸,True,1953-04-09,1954-04-06,1955-04-08,1956-04-15,1957-04-14,1958-04-11,1959-04-06,1960-04-10,4 8,NaN
敦賀,NaN,1953-04-10,1954-04-05,1955-04-06,1956-04-11,1957-04-16,1958-04-08,1959-04-02,1960-04-03,-,NaN
岐阜,True,1953-04-09,1954-04-05,1955-04-01,1956-04-07,1957-04-12,1958-04-08,1959-04-03,1960-04-03,4 4,NaN
名古屋,True,1953-04-12,1954-04-04,1955-04-03,1956-04-09,1957-04-13,1958-04-07,1959-03-30,1960-04-04,4 3,NaN
飯田,NaN,1953-04-12,1954-04-07,1955-04-07,1956-04-12,1957-04-16,1958-04-07,1959-03-31,1960-04-05,-,NaN
甲府,True,1953-04-08,1954-04-04,1955-04-03,1956-04-07,1957-04-09,1958-04-05,1959-03-30,1960-03-31,4 3,NaN
銚子,True,1953-04-05,1954-04-05,1955-04-04,1956-04-11,1957-04-09,1958-04-07,1959-04-02,1960-03-30,4 8,NaN
津,True,1953-04-12,1954-04-04,1955-04-05,1956-04-09,1957-04-13,1958-04-13,1959-04-01,1960-04-09,4 5,NaN
浜松,NaN,1953-04-08,1954-04-03,1955-04-02,NaT,1957-04-10,1958-04-06,1959-04-03,1960-04-06,-,NaN
静岡,True,1953-04-02,1954-04-03,1955-03-30,1956-04-03,1957-04-07,1958-04-04,1959-03-29,1960-04-05,4 3,NaN
東京,True,1953-04-05,1954-04-01,1955-04-05,1956-04-08,1957-04-10,1958-04-06,1959-04-05,1960-04-01,4 3,NaN
尾鷲,NaN,1953-04-05,1954-04-04,1955-03-31,1956-04-06,1957-04-10,1958-04-08,1959-03-29,1960-04-02,-,NaN
横浜,True,1953-03-31,1954-04-01,1955-04-04,1956-04-09,1957-04-10,1958-04-05,1959-04-03,1960-04-03,4 3,NaN
館山,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,NaN
大島,NaN,NaT,1954-04-02,NaT,NaT,NaT,NaT,NaT,NaT,-,NaN
三宅島,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,NaN
八丈島,NaN,1953-04-04,1954-04-11,1955-04-04,1956-04-05,1957-04-12,1958-04-16,1959-04-20,1960-04-15,-,NaN
西郷,NaN,1953-04-18,1954-04-05,1955-04-09,1956-04-14,1957-04-17,1958-04-10,1959-04-03,1960-04-07,-,NaN
松江,True,1953-04-09,1954-04-03,1955-04-07,1956-04-09,1957-04-15,1958-04-08,NaT,NaT,4 8,NaN
米子,NaN,NaT,1954-04-15,1955-04-06,1956-04-11,1957-04-15,1958-04-08,1959-03-30,1960-04-03,-,NaN
鳥取,True,1953-04-08,1954-04-03,1955-04-04,1956-04-08,1957-04-15,1958-04-07,1959-04-02,1960-04-04,4 7,NaN
豊岡,NaN,1953-04-10,1954-04-05,1955-04-05,1956-04-11,1957-04-11,1958-04-08,1959-03-31,1960-04-02,-,NaN
舞鶴,NaN,1953-04-10,1954-04-04,1955-04-07,1956-04-11,1957-04-16,1958-04-09,1959-04-03,1960-04-05,4 8,NaN
浜田,NaN,1953-04-02,1954-04-02,1955-04-02,1956-04-11,1957-04-13,1958-04-05,1959-04-03,1960-04-04,-,NaN
京都,True,1953-04-11,1954-04-05,1955-04-07,1956-04-10,1957-04-12,1958-04-08,1959-04-02,1960-04-05,4 5,NaN
彦根,True,1953-04-12,1954-04-07,1955-04-08,1956-04-12,1957-04-16,1958-04-10,1959-04-05,1960-04-10,4 9,NaN
広島,True,1953-04-11,1954-04-06,1955-04-06,1956-04-11,1957-04-11,1958-04-07,1959-04-03,1960-04-08,4 4,NaN
岡山,True,1953-04-09,1954-04-03,1955-04-03,1956-04-09,1957-04-10,1958-04-07,1959-04-02,1960-04-06,4 6,NaN
神戸,True,1953-04-09,1954-04-04,1955-04-07,1956-04-07,1957-04-11,1958-04-07,1959-03-31,1960-04-07,4 5,NaN
大阪,True,NaT,NaT,NaT,NaT,1957-04-10,NaT,1959-04-03,1960-04-09,4 5,NaN
洲本,NaN,1953-04-15,1954-04-02,1955-04-07,1956-04-10,1957-04-12,1958-04-05,1959-04-03,NaT,-,NaN
和歌山,True,NaT,NaT,1955-04-03,1956-04-03,1957-04-08,1958-04-04,1959-03-27,1960-04-04,4 4,NaN
潮岬,NaN,NaT,NaT,NaT,NaT,NaT,1958-04-07,NaT,1960-03-30,-,NaN
奈良,True,NaT,1954-04-04,1955-04-06,1956-04-07,1957-04-13,1958-04-08,1959-03-29,1960-04-04,4 5,NaN
松山,True,1953-04-09,1954-04-07,1955-04-06,1956-04-08,1957-04-09,1958-04-07,1959-04-03,1960-04-09,4 4,NaN
高松,True,1953-04-08,1954-04-06,1955-04-07,1956-04-10,1957-04-12,1958-04-07,1959-04-03,1960-04-06,4 5,NaN
宇和島,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,NaN
高知,True,NaT,NaT,1955-03-28,1956-03-31,1957-04-07,NaT,1959-04-01,1960-04-03,3 30,NaN
徳島,True,1953-04-05,1954-04-05,1955-04-04,1956-04-07,1957-04-10,1958-04-06,1959-04-03,1960-04-03,4 5,NaN
下関,True,1953-04-10,1954-04-06,1955-04-05,1956-04-09,1957-04-11,1958-04-08,1959-04-05,1960-04-06,4 5,NaN
厳原,NaN,1953-04-08,1954-04-02,1955-04-04,1956-04-12,1957-04-10,1958-04-06,1959-03-30,1960-04-03,-,NaN
福岡,True,1953-04-05,1954-04-08,1955-04-05,1956-04-09,1957-04-08,1958-04-05,1959-04-01,1960-03-31,4 1,NaN
佐賀,True,1953-04-09,1954-04-05,1955-04-04,1956-04-04,1957-04-07,1958-04-04,1959-03-31,1960-04-08,4 3,NaN
大分,True,1953-04-06,1954-04-03,1955-04-02,1956-04-09,1957-04-09,1958-04-07,1959-04-02,1960-04-05,4 3,NaN
福江,NaN,1953-04-06,1954-04-07,1955-04-02,1956-04-07,1957-04-07,1958-04-03,1959-04-01,1960-04-04,-,NaN
長崎,True,1953-04-06,1954-04-05,1955-03-31,1956-04-05,1957-04-10,1958-03-28,1959-03-30,1960-04-02,4 3,NaN
熊本,True,1953-04-04,1954-04-04,1955-03-30,1956-04-01,1957-04-07,1958-04-04,1959-03-29,1960-03-30,4 1,NaN
延岡,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,NaN
鹿児島,True,1953-04-08,1954-04-08,1955-04-03,1956-04-02,1957-04-07,1958-04-03,1959-03-30,1960-04-03,4 4,NaN
宮崎,True,1953-04-03,1954-04-06,1955-04-04,1956-04-04,1957-04-03,1958-03-30,1959-03-30,1960-03-29,4 2,NaN
屋久島,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,NaN
種子島,NaN,1953-04-03,NaT,NaT,NaT,NaT,1958-04-05,1959-04-09,1960-04-05,-,NaN
名瀬,True,1953-02-02,NaT,NaT,1956-01-24,1957-01-31,NaT,1959-02-12,1960-02-05,1 30,ひかんざくら
与那国島,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,ひかんざくら
石垣島,True,NaT,NaT,NaT,NaT,NaT,1958-01-27,1959-02-02,NaT,2 5,ひかんざくら
宮古島,True,NaT,1954-02-14,NaT,1956-02-10,1957-01-25,1958-01-28,1959-02-04,NaT,2 9,ひかんざくら
久米島,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,ひかんざくら
那覇,True,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2 4,ひかんざくら
名護,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,ひかんざくら
西表島,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,ひかんざくら
南大東島,True,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2 2,ひかんざくら

In [24]:
test_df['Currently Being Observed'].fillna(False,inplace=True)
test_df.head()

,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,30 Year Average 1981-2010,Notes
Site Name,,,,,,,,,,,
稚内,True,1953-05-30,1954-05-27,1955-05-23,1956-05-14,1957-05-22,1958-05-25,1959-05-12,1960-05-24,5 17,えぞやまざくら
留萌,False,1953-05-13,1954-05-17,1955-05-16,1956-05-14,1957-05-14,1958-05-16,NaT,NaT,-,えぞやまざくら
旭川,True,1953-05-16,1954-05-18,1955-05-14,1956-05-13,1957-05-14,1958-05-15,1959-05-13,1960-05-16,5 7,えぞやまざくら
網走,True,1953-05-26,1954-05-19,1955-05-20,1956-05-13,NaT,NaT,1959-05-07,NaT,5 14,えぞやまざくら
札幌,True,1953-05-14,1954-05-08,1955-05-16,1956-05-09,1957-05-13,NaT,1959-05-10,1960-05-09,5 7,NaN

In [37]:
translator = Translator()

notes_map = pd.DataFrame(bloom_start['Notes'].unique(), columns=['jp'])

notes_map['en'] = notes_map['jp'].apply(translator.translate).apply(getattr, args=('text',))

In [38]:
notes_map

        jp               en
0  えぞやまざくら   Ezo Yamazakura
1      NaN              NaN
2   ちしまざくら  Chishima Sakura
3      （注）           (Note)
4   ひかんざくら      Hikanzakura

In [40]:
notes_dict = {'えぞやまざくら': 'Sargent cherry (Prunus sargentii)',
              'ちしまざくら': 'Kurile Island Cherry (Cerasus nipponica var. kurilensis)',
             'ひかんざくら': 'Taiwan cherry (Prunus campanulata)',
              '（注）': 'Note: Translation pending'}

In [30]:
concated['Currently Being Observed'].iloc[:,0]

Site Name
Wakkanai           True
Rumoi               NaN
Asahikawa          True
Abashiri           True
Sapporo            True
                   ...
Kumejima            NaN
Naha               True
Nago                NaN
Iriomotei sand      NaN
Minamidaitojima    True
Name: Currently Being Observed, Length: 102, dtype: object

In [163]:
trans = Translator()
trans.translate('山形').src

'ja'

In [166]:
with pd.option_context('display.max_rows', None):
    display(transposed.T['30 Year Average 1981-2010'])

Site Name
Wakkanai           5 14
Rumoi                 -
Asahikawa          5  5
Abashiri           5 11
Sapporo            5  3
Iwamizawa             -
Obihiro            5  4
Kushiro            5 17
Nemuro                -
Muroran            5  6
Urakawa               -
Esashi                -
Hakodate           4 30
Kutchan               -
Monbetsu              -
Hiroo                 -
Shinjo                -
Aomori             4 24
Hachinohe             -
Akita              4 18
Morioka            4 21
Miyako                -
Sakata                -
Yamagata           4 15
Sendai             4 11
Fukushima          4  9
Shirakawa             -
Onahama               -
Wajima                -
Aikawa                -
Niigata            4  9
Kanazawa           4  4
Toyama             4  5
Nagano             4 13
Takada                -
Utsunomiya         4  1
Fukui              4  3
Takayama              -
Matsumoto             -
Maebashi           3 31
Kumagaya           3 29
Mito               4  2
Tsuruga               -
Gifu               3 26
Nagoya             3 26
Iida                  -
Kofu               3 27
Choshi             3 31
Tsu                3 30
Hamamatsu             -
Shizuoka           3 25
Tokyo              3 26
Owase                 -
Yokohama           3 26
Tateyama              -
Oshima                -
Miyakejima            -
Hachijojima           -
Saigo                 -
Matsue             3 31
Yonago                -
Tottori            3 31
Toyooka               -
Maizuru            4  3
Hamada                -
Kyoto              3 28
Hikone             4  2
Hiroshima          3 27
Okayama            3 29
Kobe               3 28
Osaka              3 28
Sumoto                -
Wakayama           3 26
Shionomisaki          -
Nara               3 29
Matsuyama          3 25
Takamatsu          3 28
Uwajima               -
Kochi              3 22
Tokushima          3 28
Shimonoseki        3 27
Izuhara               -
Fukuoka            3 23
Saga               3 24
Oita               3 24
Fukue                 -
Nagasaki           3 24
Kumamoto           3 23
Nobeoka               -
Kagoshima          3 26
Miyazaki           3 24
Yakushima             -
Tanegashima           -
Naze               1 19
Yonaguni Island       -
Ishigaki Island    1 16
Miyakojima         1 16
Kumejima              -
Naha               1 18
Nago                  -
Iriomotei sand        -
Minamidaitojima    1 20
Name: 30 Year Average 1981-2010, dtype: object

In [128]:
with pd.option_context('display.max_rows', None):
    print(concated.loc[['津']].T)

Site Name                                    津
Currently Being Observed                  True
1953                                       NaT
1954                       1954-03-03 00:00:00
1955                       1955-03-03 00:00:00
1956                                       NaT
1957                                       NaT
1958                                       NaT
1959                       1959-03-02 00:00:00
1960                       1960-03-02 00:00:00
30 Year Average 1981-2010             8    3 3
Notes                                        0
Currently Being Observed                  True
1961                                       NaT
1962                                       NaT
1963                                       NaT
1964                                       NaT
1965                       1965-04-01 00:00:00
1966                       1966-03-02 00:00:00
1967                       1967-03-03 00:00:00
1968                                       NaT
1969                                       NaT
1970                       1970-04-01 00:00:00
30 Year Average 1981-2010             2    3 3
Notes                                        0
Currently Being Observed                  True
1971                                       NaT
1972                                       NaT
1973                                       NaT
1974                                       NaT
1975                                       NaT
1976                       1976-03-03 00:00:00
1977                       1977-03-03 00:00:00
1978                                       NaT
1979                       1979-03-03 00:00:00
1980                                       NaT
30 Year Average 1981-2010             3    3 3
Notes                                        0
Currently Being Observed                  True
1981                       1981-03-02 00:00:00
1982                       1982-03-02 00:00:00
1983                                       NaT
1984                       1984-04-01 00:00:00
1985                       1985-03-03 00:00:00
1986                                       NaT
1987                       1987-03-02 00:00:00
1988                                       NaT
1989                       1989-03-02 00:00:00
1990                       1990-03-02 00:00:00
30 Year Average 1981-2010             2    3 3
Notes                                        0
Currently Being Observed                  True
1991                                       NaT
1992                       1992-03-02 00:00:00
1993                                       NaT
1994                                       NaT
1995                                       NaT
1996                                       NaT
1997                       1997-03-02 00:00:00
1998                       1998-03-02 00:00:00
1999                       1999-03-02 00:00:00
2000                                       NaT
30 Year Average 1981-2010             5    3 3
Notes                                        0
Currently Being Observed                  True
2001                       2001-03-02 00:00:00
2002                       2002-03-02 00:00:00
2003                       2003-03-02 00:00:00
2004                       2004-03-02 00:00:00
2005                                       NaT
2006                       2006-03-03 00:00:00
2007                       2007-03-02 00:00:00
2008                       2008-03-02 00:00:00
2009                       2009-03-02 00:00:00
2010                       2010-03-02 00:00:00
30 Year Average 1981-2010             4    3 3
Notes                                        0
Currently Being Observed                  True
2011                                       NaT
2012                                       NaT
2013                       2013-03-02 00:00:00
2014                       2014-03-02 00:00:00
2015                       2015-03-02 00:00:00
2016                       2016-03-02 00:00:00
2017                                       NaT
2018                       2018-03-02 00:00:00
2019                       2019-03-02 00:00:00
2020                       2020-03-02 00:00:00
30 Year Average 1981-2010             5    3 3
Notes                                        0

In [138]:
debug_print=True
process_sakura_url('https://www.data.jma.go.jp/sakura/data/sakura003_03.html')

Processing: 気象庁 | さくらの開花日(1981-1990年)


地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

稚内     *   5 11   5 16   5  6   5 24   5 13   5 13   5 16   5 15   5 16   5  6    5 14    えぞやまざくら
留萌         5  9   5 10   4 30   5 22   5 11   5  9   5  9   5  9   5  3   4 26       -    えぞやまざくら
旭川     *   5  5   5  5   4 27   5 14   5  3   5  6   5  9   5  7   5  3   4 28    5  5    えぞやまざくら
網走     *   5 14   5 11   5  3   5 24   5 10   5  8   5  9   5 12   5 16   5  7    5 11    えぞやまざくら
札幌     *   5  5   5  4   4 28   5 12   5  3   5  5   5  6   5  3   4 29   4 25    5  3
岩見沢       5  7   5  5   4 27   5 17   5  4   5  5   5  8   5  5   4 28   4 26       -    えぞやまざくら
帯広     *   5  4   5  6   5  1   5 19   5  3   5  6   5  4   5  4   5  5   5  1    5  4    えぞやまざくら
釧路     *   5 22   5 17   5 12   5 30   5 18   5 16   5 17   5 18   5 18   5 10    5 17    えぞやまざくら
根室         5 24   5 19   5 15   5 30   5 19   5 19   5 15   5 22   5 20   5 11       -    ちしまざくら
室蘭     *   5  6   5 10   4 29   5 25   5 10   5  8   5  9   5  6   4 30   4 26    5  6

浦河         5 12   5 13   5  5   5 25   5 12   5 10   5 12   5 12   5  8   5  6       -    えぞやまざくら
江差         5  3   5  2   4 26   5 19   5  4   5  6   5  5   5  4   4 23   4 23       -
函館     *   5  3   5  7   4 27   5 23   5  4   5  5   5  4   5  2   4 23   4 22    4 30
倶知安       5 10   5 11   5  1   5 22   5 11   5 11   5 13   5 14   5  5   5  6       -    （注）
紋別         5 11   5 12   5  1   5 25   5 10   5  6   5  6   5 11   5 15   5  6       -    えぞやまざくら
広尾         5  7   5  9   5  1   5 28   5 10   5  9   5  5   5  7   5  7   5  3       -    えぞやまざくら
新庄         4 27   4 23   4 18   5  6   4 25   4 26   4 21   4 26   4 14   4 13       -
青森     *   4 27   4 27   4 21   5 11   4 29   5  1   4 25   4 28   4 15   4 15    4 24
八戸         4 25   4 26   4 20   5 18   4 27   4 29   4 23   4 27   4 15   4 12       -
秋田     *   4 22   4 20   4 15   4 30   4 19   4 20   4 17   4 23   4 10   4 10    4 18

地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

盛岡     *   4 24   4 23   4 18   5  6   4 25   4 29   4 23   4 27   4 14   4 13    4 21
宮古         4 23   4 17   4 16   5  7   4 21   4 22   4 18   4 20   4 13   4 11       -
酒田         4 17   4 14   4 14   4 27   4 15   4 20   4 15   4 20   4  6   4  7       -
山形     *   4 21   4 16   4 14   4 29   4 19   4 20   4 15   4 20   4  7   4  9    4 15
仙台     *   4 13   4 11   4 13   4 28   4 17   4 19   4 10   4 17   4  3   4  3    4 11
福島     *   4 12   4  8   4 10   4 25   4 14   4 17   4  6   4 16   4  1   4  3    4  9
白河         4 16   4 14   4 14   4 28   4 17   4 22   4 10   4 20   4  9   4  8       -
小名浜       4 11   4  6   4 11   4 25   4 11   4 17   4  5   4 13   3 30   3 30       -
輪島         4 10   4  7   4 11   4 24   4 13   4 14   4  7   4 15   4  1   4  2       -
相川         4 12   4 12   4 12   4 27   4 13   4 19   4 10   4 20   4  7   4  4       -

新潟     *   4 13   4  9   4 12   4 26   4 10   4 17   4  8   4 16   4  1   4  1    4  9
金沢     *   4  8   4  2   4  8   4 17   4  7   4 10   3 30   4 12   3 26   3 28    4  4
富山     *   4 10   4  2   4  9   4 20   4 10   4 11   4  5   4 14   3 29   4  1    4  5
長野     *   4 17   4 13   4 13   4 26   4 13   4 20   4  9   4 20   4  6   4  7    4 13
高田         4 14   4  6   4 10   4 25   4 12   4 16   4  6   4 14   3 31   4  1       -
宇都宮   *   4  6   4  1   4  7   4 18   4  6   4 11   3 31   4  7   3 27   3 25    4  1
福井     *   4  9   4  1   4  7   4 17   4  8   4 10   4  4   4 12   3 28   3 27    4  3
高山         4 23   4 17   4 14   4 28   4 15   4 21   4 15   4 22   4  9   4  9       -
松本         4 14   4 10   4 12   4 24   4 14   4 18   4  8   4 19   4  4   4  4       -
前橋     *   3 30   3 27   4  5   4 15   4  5   4  8   3 26   4  5   3 26   3 24    3 31

地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

熊谷     *   3 30   3 28   4  4   4 14   4  4   4  6   3 25   4  4   3 26   3 22    3 29
水戸     *   4  8   4  1   4  7   4 20   4  7   4 10   3 28   4  6   3 27   3 25    4  2
敦賀         4  8   3 30   4  7   4 17   4  7   4  9   4  2   4 12   3 24   3 25       -
岐阜     *   3 30   3 23   4  2   4 12   3 29   4  1   3 26   4  3   3 16   3 17    3 26
名古屋   *   3 28   3 23   3 31   4 11   3 28   4  1   3 25   4  3   3 17   3 17    3 26
飯田         4  8   4  1   4  9   4 19   4  6   4 12   4  5   4 14   3 29   3 28       -
甲府     *   3 29   3 27   4  4   4 12   3 30   4  4   3 26   4  4   3 25   3 20    3 27
銚子     *   4  2   3 26   4  5   4 16   4  3   4  8   3 25   4  3   3 20   3 21    3 31
津       *   3 28   3 24   4  3   4 12   3 30   4  3   3 25   4  5   3 25   3 22    3 30
浜松         3 26   3 23   4  1   4  6   3 27   3 30   3 25   4  3   3 21   3 17       -

静岡     *   3 26   3 23   4  3   4  6   3 28   3 30   3 26   4  3   3 21   3 20    3 25
東京     *   3 26   3 23   3 31   4 11   4  3   4  3   3 23   4  2   3 20   3 20    3 26
尾鷲         3 26   3 23   4  3   4  5   3 29   3 30   3 28   3 30   3 17   3 20       -
横浜     *   3 27   3 23   4  2   4 10   4  1   4  2   3 21   4  2   3 21   3 18    3 26
館山         4  1   3 25   4  6   4  9   4  3   3 31   3 25   4  5   3 25   3 20       -
大島         3 29   3 24   4  3   4  7   4  3   4  1   3 29   4  5   3 22   3 20       -
三宅島       3 26   3 26   4  2   4  4   3 25   3 29   3 30   4  4   3 16   3 20       -
八丈島       3 25   3 29   4  6   4  2   3 28   3 27   4  9   4  3   3 29   3 30       -
西郷         4  5   4  1   4  7   4 17   4  7   4  9   3 31   4 11   3 30   3 27       -
松江     *   4  4   3 30   4  6   4 13   4  5   4  7   3 30   4 10   3 28   3 24    3 31

地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

米子         4  3   3 30   4  5   4 14   4  4   4  8   3 30   4 11   3 29   3 24       -
鳥取     *   3 31   3 30   4  6   4 13   4  4   4  7   3 29   4 11   3 29   3 24    3 31
豊岡         4  5   3 31   4  4   4 16   4  8   4 10   4  4   4 13   3 30   3 28       -
舞鶴         4  5   3 30   4  5   4 16   4  6   4  9   4  4   4 12   3 30   3 26    4  3
浜田         3 28   3 23   4  4   4  9   4  1   4  3   3 26   4  6   3 26   3 20       -
京都     *   3 30   3 24   4  2   4  9   4  2   4  3   3 27   4  5   3 24   3 21    3 28
彦根     *   4  5   3 30   4  6   4 15   4  6   4  9   4  4   4  7   3 30   3 23    4  2
広島     *   3 30   3 24   4  4   4  8   3 30   4  2   3 25   4  3   3 25   3 20    3 27
岡山     *   3 30   3 25   4  4   4 10   4  1   4  3   3 25   4  5   3 26   3 23    3 29
神戸     *   3 29   3 24   4  1   4 10   3 30   4  3   3 27   4  5   3 25   3 21    3 28

大阪     *   3 28   3 23   3 31   4 10   3 29   4  2   3 25   4  5   3 25   3 21    3 28
洲本         3 30   3 25   4  4   4 10   4  3   4  5   3 25   4  6   3 19   3 21       -
和歌山   *   3 25   3 22   4  2   4  6   3 28   4  2   3 25   4  5   3 20   3 19    3 26
潮岬         3 26   3 24   4  2   4  2   3 27   3 30   3 31   4  5   3 20   3 23       -
奈良     *   3 31   3 28   4  4   4 12   4  2   4  4   3 28   4  7   3 25   3 23    3 29
松山     *   3 26   3 21   4  1   4  5   3 28   3 31   3 24   4  3   3 21   3 18    3 25
高松     *   3 30   3 24   4  2   4  8   3 31   4  3   3 24   4  5   3 24   3 21    3 28
宇和島       3 25   3 20   3 30   3 31   3 26   3 27   3 23   4  2   3 15   3 15       -
高知     *   3 20   3 17   3 29   3 30   3 24   3 25   3 22   3 28   3 15   3 14    3 22
徳島     *   3 26   3 23   4  5   4  6   4  1   4  1   3 26   4  5   3 23   3 21    3 28

地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

下関     *   3 27   3 23   3 31   4  6   4  2   4  2   3 24   4  4   3 22   3 20    3 27
厳原         3 26   3 22   3 31   4  5   3 29   4  2   3 23   4  2   3 22   3 18       -
福岡     *   3 25   3 20   3 31   4  5   4  1   3 29   3 22   4  2   3 17   3 14    3 23
佐賀     *   3 24   3 19   3 30   3 31   3 29   3 26   3 23   4  2   3 20   3 17    3 24
大分     *   3 25   3 19   4  1   4  3   3 28   3 30   3 23   4  2   3 20   3 16    3 24
福江         3 26   3 23   3 31   4  3   3 28   3 30   3 29   4  1   3 22   3 19       -
長崎     *   3 23   3 19   3 29   3 31   3 29   3 27   3 23   4  1   3 18   3 15    3 24
熊本     *   3 23   3 19   3 28   3 31   3 27   3 26   3 24   4  1   3 18   3 17    3 23
延岡         3 25   3 21   3 29   3 31   3 27   3 27   3 25   4  2   3 16   3 21       -
鹿児島   *   3 22   3 19   3 27   3 26   3 26   3 22   3 26   4  3   3 25   3 22    3 26

宮崎     *   3 24   3 18   3 28   3 28   3 26   3 24   3 24   4  2   3 22   3 19    3 24
屋久島          -      -      -      -      -      -      -      -      -      -       -
種子島       3 22   3 24   3 29   3 30   3 28   3 24   3 27   3 31   3 22   3 19       -
名瀬     *   1 21   1 21   1 26   1 27   1 27   1 19   1 16   1 12   1  6   1 14    1 19    ひかんざくら
与那国島        -      -      -      -      -      -      -      -      -      -       -    ひかんざくら
石垣島   *   1 21   1 11   1 18   1 14   1 11   1 14   1  3   1  1  12 27#  1  5    1 16    ひかんざくら
宮古島   *   1 28   1 20   1 17   1 21   1  6   1 23   1 16   1 17   1  8   1 11    1 16    ひかんざくら
久米島       1 27   1 22   1 30   1 24   1 23   1 15   1  8   1  6  12 31# 12 31#      -    ひかんざくら
那覇     *   1 24   1  5   1 16   1 23   1 23   1  9   1 23   1 19   1  9   1 21    1 18    ひかんざくら
名護         1  9  12 30#  1  5   1 13   1 22  12 26#  1  9   1  4  12 31# 12 30#      -    ひかんざくら

地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

西表島       1 27   1 10   1 22   1 17   1 26   1 23   1 21   1 15   1 15   1 18       -    ひかんざくら
南大東島 *   1 22   1 24   1 25   1 19   1 20   1 18   1 21   1 29   1 17   1 16    1 20    ひかんざくら

,Currently Being Observed,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,30 Year Average 1981-2010,Notes
Site Name,,,,,,,,,,,,,
稚内,True,1981-05-11,1982-05-16,1983-05-06,1984-05-24,1985-05-13,1986-05-13,1987-05-16,1988-05-15,1989-05-16,1990-05-06,5 14,えぞやまざくら
留萌,NaN,1981-05-09,1982-05-10,1983-04-30,1984-05-22,1985-05-11,1986-05-09,1987-05-09,1988-05-09,1989-05-03,1990-04-26,-,えぞやまざくら
旭川,True,1981-05-05,1982-05-05,1983-04-27,1984-05-14,1985-05-03,1986-05-06,1987-05-09,1988-05-07,1989-05-03,1990-04-28,5 5,えぞやまざくら
網走,True,1981-05-14,1982-05-11,1983-05-03,1984-05-24,1985-05-10,1986-05-08,1987-05-09,1988-05-12,1989-05-16,1990-05-07,5 11,えぞやまざくら
札幌,True,1981-05-05,1982-05-04,1983-04-28,1984-05-12,1985-05-03,1986-05-05,1987-05-06,1988-05-03,1989-04-29,1990-04-25,5 3,NaN
岩見沢,NaN,1981-05-07,1982-05-05,1983-04-27,1984-05-17,1985-05-04,1986-05-05,1987-05-08,1988-05-05,1989-04-28,1990-04-26,-,えぞやまざくら
帯広,True,1981-05-04,1982-05-06,1983-05-01,1984-05-19,1985-05-03,1986-05-06,1987-05-04,1988-05-04,1989-05-05,1990-05-01,5 4,えぞやまざくら
釧路,True,1981-05-22,1982-05-17,1983-05-12,1984-05-30,1985-05-18,1986-05-16,1987-05-17,1988-05-18,1989-05-18,1990-05-10,5 17,えぞやまざくら
根室,NaN,1981-05-24,1982-05-19,1983-05-15,1984-05-30,1985-05-19,1986-05-19,1987-05-15,1988-05-22,1989-05-20,1990-05-11,-,ちしまざくら
室蘭,True,1981-05-06,1982-05-10,1983-04-29,1984-05-25,1985-05-10,1986-05-08,1987-05-09,1988-05-06,1989-04-30,1990-04-26,5 6,NaN
浦河,NaN,1981-05-12,1982-05-13,1983-05-05,1984-05-25,1985-05-12,1986-05-10,1987-05-12,1988-05-12,1989-05-08,1990-05-06,-,えぞやまざくら
江差,NaN,1981-05-03,1982-05-02,1983-04-26,1984-05-19,1985-05-04,1986-05-06,1987-05-05,1988-05-04,1989-04-23,1990-04-23,-,NaN
函館,True,1981-05-03,1982-05-07,1983-04-27,1984-05-23,1985-05-04,1986-05-05,1987-05-04,1988-05-02,1989-04-23,1990-04-22,4 30,NaN
倶知安,NaN,1981-05-10,1982-05-11,1983-05-01,1984-05-22,1985-05-11,1986-05-11,1987-05-13,1988-05-14,1989-05-05,1990-05-06,-,（注）
紋別,NaN,1981-05-11,1982-05-12,1983-05-01,1984-05-25,1985-05-10,1986-05-06,1987-05-06,1988-05-11,1989-05-15,1990-05-06,-,えぞやまざくら
広尾,NaN,1981-05-07,1982-05-09,1983-05-01,1984-05-28,1985-05-10,1986-05-09,1987-05-05,1988-05-07,1989-05-07,1990-05-03,-,えぞやまざくら
新庄,NaN,1981-04-27,1982-04-23,1983-04-18,1984-05-06,1985-04-25,1986-04-26,1987-04-21,1988-04-26,1989-04-14,1990-04-13,-,NaN
青森,True,1981-04-27,1982-04-27,1983-04-21,1984-05-11,1985-04-29,1986-05-01,1987-04-25,1988-04-28,1989-04-15,1990-04-15,4 24,NaN
八戸,NaN,1981-04-25,1982-04-26,1983-04-20,1984-05-18,1985-04-27,1986-04-29,1987-04-23,1988-04-27,1989-04-15,1990-04-12,-,NaN
秋田,True,1981-04-22,1982-04-20,1983-04-15,1984-04-30,1985-04-19,1986-04-20,1987-04-17,1988-04-23,1989-04-10,1990-04-10,4 18,NaN
盛岡,True,1981-04-24,1982-04-23,1983-04-18,1984-05-06,1985-04-25,1986-04-29,1987-04-23,1988-04-27,1989-04-14,1990-04-13,4 21,NaN
宮古,NaN,1981-04-23,1982-04-17,1983-04-16,1984-05-07,1985-04-21,1986-04-22,1987-04-18,1988-04-20,1989-04-13,1990-04-11,-,NaN
酒田,NaN,1981-04-17,1982-04-14,1983-04-14,1984-04-27,1985-04-15,1986-04-20,1987-04-15,1988-04-20,1989-04-06,1990-04-07,-,NaN
山形,True,1981-04-21,1982-04-16,1983-04-14,1984-04-29,1985-04-19,1986-04-20,1987-04-15,1988-04-20,1989-04-07,1990-04-09,4 15,NaN
仙台,True,1981-04-13,1982-04-11,1983-04-13,1984-04-28,1985-04-17,1986-04-19,1987-04-10,1988-04-17,1989-04-03,1990-04-03,4 11,NaN
福島,True,1981-04-12,1982-04-08,1983-04-10,1984-04-25,1985-04-14,1986-04-17,1987-04-06,1988-04-16,1989-04-01,1990-04-03,4 9,NaN
白河,NaN,1981-04-16,1982-04-14,1983-04-14,1984-04-28,1985-04-17,1986-04-22,1987-04-10,1988-04-20,1989-04-09,1990-04-08,-,NaN
小名浜,NaN,1981-04-11,1982-04-06,1983-04-11,1984-04-25,1985-04-11,1986-04-17,1987-04-05,1988-04-13,1989-03-30,1990-03-30,-,NaN
輪島,NaN,1981-04-10,1982-04-07,1983-04-11,1984-04-24,1985-04-13,1986-04-14,1987-04-07,1988-04-15,1989-04-01,1990-04-02,-,NaN
相川,NaN,1981-04-12,1982-04-12,1983-04-12,1984-04-27,1985-04-13,1986-04-19,1987-04-10,1988-04-20,1989-04-07,1990-04-04,-,NaN
新潟,True,1981-04-13,1982-04-09,1983-04-12,1984-04-26,1985-04-10,1986-04-17,1987-04-08,1988-04-16,1989-04-01,1990-04-01,4 9,NaN
金沢,True,1981-04-08,1982-04-02,1983-04-08,1984-04-17,1985-04-07,1986-04-10,1987-03-30,1988-04-12,1989-03-26,1990-03-28,4 4,NaN
富山,True,1981-04-10,1982-04-02,1983-04-09,1984-04-20,1985-04-10,1986-04-11,1987-04-05,1988-04-14,1989-03-29,1990-04-01,4 5,NaN
長野,True,1981-04-17,1982-04-13,1983-04-13,1984-04-26,1985-04-13,1986-04-20,1987-04-09,1988-04-20,1989-04-06,1990-04-07,4 13,NaN
高田,NaN,1981-04-14,1982-04-06,1983-04-10,1984-04-25,1985-04-12,1986-04-16,1987-04-06,1988-04-14,1989-03-31,1990-04-01,-,NaN
宇都宮,True,1981-04-06,1982-04-01,1983-04-07,1984-04-18,1985-04-06,1986-04-11,1987-03-31,1988-04-07,1989-03-27,1990-03-25,4 1,NaN
福井,True,1981-04-09,1982-04-01,1983-04-07,1984-04-17,1985-04-08,1986-04-10,1987-04-04,1988-04-12,1989-03-28,1990-03-27,4 3,NaN
高山,NaN,1981-04-23,1982-04-17,1983-04-14,1984-04-28,1985-04-15,1986-04-21,1987-04-15,1988-04-22,1989-04-09,1990-04-09,-,NaN
松本,NaN,1981-04-14,1982-04-10,1983-04-12,1984-04-24,1985-04-14,1986-04-18,1987-04-08,1988-04-19,1989-04-04,1990-04-04,-,NaN
前橋,True,1981-03-30,1982-03-27,1983-04-05,1984-04-15,1985-04-05,1986-04-08,1987-03-26,1988-04-05,1989-03-26,1990-03-24,3 31,NaN
熊谷,True,1981-03-30,1982-03-28,1983-04-04,1984-04-14,1985-04-04,1986-04-06,1987-03-25,1988-04-04,1989-03-26,1990-03-22,3 29,NaN
水戸,True,1981-04-08,1982-04-01,1983-04-07,1984-04-20,1985-04-07,1986-04-10,1987-03-28,1988-04-06,1989-03-27,1990-03-25,4 2,NaN
敦賀,NaN,1981-04-08,1982-03-30,1983-04-07,1984-04-17,1985-04-07,1986-04-09,1987-04-02,1988-04-12,1989-03-24,1990-03-25,-,NaN
岐阜,True,1981-03-30,1982-03-23,1983-04-02,1984-04-12,1985-03-29,1986-04-01,1987-03-26,1988-04-03,1989-03-16,1990-03-17,3 26,NaN
名古屋,True,1981-03-28,1982-03-23,1983-03-31,1984-04-11,1985-03-28,1986-04-01,1987-03-25,1988-04-03,1989-03-17,1990-03-17,3 26,NaN
飯田,NaN,1981-04-08,1982-04-01,1983-04-09,1984-04-19,1985-04-06,1986-04-12,1987-04-05,1988-04-14,1989-03-29,1990-03-28,-,NaN
甲府,True,1981-03-29,1982-03-27,1983-04-04,1984-04-12,1985-03-30,1986-04-04,1987-03-26,1988-04-04,1989-03-25,1990-03-20,3 27,NaN
銚子,True,1981-04-02,1982-03-26,1983-04-05,1984-04-16,1985-04-03,1986-04-08,1987-03-25,1988-04-03,1989-03-20,1990-03-21,3 31,NaN
津,True,1981-03-28,1982-03-24,1983-04-03,1984-04-12,1985-03-30,1986-04-03,1987-03-25,1988-04-05,1989-03-25,1990-03-22,3 30,NaN
浜松,NaN,1981-03-26,1982-03-23,1983-04-01,1984-04-06,1985-03-27,1986-03-30,1987-03-25,1988-04-03,1989-03-21,1990-03-17,-,NaN
静岡,True,1981-03-26,1982-03-23,1983-04-03,1984-04-06,1985-03-28,1986-03-30,1987-03-26,1988-04-03,1989-03-21,1990-03-20,3 25,NaN
東京,True,1981-03-26,1982-03-23,1983-03-31,1984-04-11,1985-04-03,1986-04-03,1987-03-23,1988-04-02,1989-03-20,1990-03-20,3 26,NaN
尾鷲,NaN,1981-03-26,1982-03-23,1983-04-03,1984-04-05,1985-03-29,1986-03-30,1987-03-28,1988-03-30,1989-03-17,1990-03-20,-,NaN
横浜,True,1981-03-27,1982-03-23,1983-04-02,1984-04-10,1985-04-01,1986-04-02,1987-03-21,1988-04-02,1989-03-21,1990-03-18,3 26,NaN
館山,NaN,1981-04-01,1982-03-25,1983-04-06,1984-04-09,1985-04-03,1986-03-31,1987-03-25,1988-04-05,1989-03-25,1990-03-20,-,NaN
大島,NaN,1981-03-29,1982-03-24,1983-04-03,1984-04-07,1985-04-03,1986-04-01,1987-03-29,1988-04-05,1989-03-22,1990-03-20,-,NaN
三宅島,NaN,1981-03-26,1982-03-26,1983-04-02,1984-04-04,1985-03-25,1986-03-29,1987-03-30,1988-04-04,1989-03-16,1990-03-20,-,NaN
八丈島,NaN,1981-03-25,1982-03-29,1983-04-06,1984-04-02,1985-03-28,1986-03-27,1987-04-09,1988-04-03,1989-03-29,1990-03-30,-,NaN
西郷,NaN,1981-04-05,1982-04-01,1983-04-07,1984-04-17,1985-04-07,1986-04-09,1987-03-31,1988-04-11,1989-03-30,1990-03-27,-,NaN
松江,True,1981-04-04,1982-03-30,1983-04-06,1984-04-13,1985-04-05,1986-04-07,1987-03-30,1988-04-10,1989-03-28,1990-03-24,3 31,NaN
米子,NaN,1981-04-03,1982-03-30,1983-04-05,1984-04-14,1985-04-04,1986-04-08,1987-03-30,1988-04-11,1989-03-29,1990-03-24,-,NaN
鳥取,True,1981-03-31,1982-03-30,1983-04-06,1984-04-13,1985-04-04,1986-04-07,1987-03-29,1988-04-11,1989-03-29,1990-03-24,3 31,NaN
豊岡,NaN,1981-04-05,1982-03-31,1983-04-04,1984-04-16,1985-04-08,1986-04-10,1987-04-04,1988-04-13,1989-03-30,1990-03-28,-,NaN
舞鶴,NaN,1981-04-05,1982-03-30,1983-04-05,1984-04-16,1985-04-06,1986-04-09,1987-04-04,1988-04-12,1989-03-30,1990-03-26,4 3,NaN
浜田,NaN,1981-03-28,1982-03-23,1983-04-04,1984-04-09,1985-04-01,1986-04-03,1987-03-26,1988-04-06,1989-03-26,1990-03-20,-,NaN
京都,True,1981-03-30,1982-03-24,1983-04-02,1984-04-09,1985-04-02,1986-04-03,1987-03-27,1988-04-05,1989-03-24,1990-03-21,3 28,NaN
彦根,True,1981-04-05,1982-03-30,1983-04-06,1984-04-15,1985-04-06,1986-04-09,1987-04-04,1988-04-07,1989-03-30,1990-03-23,4 2,NaN
広島,True,1981-03-30,1982-03-24,1983-04-04,1984-04-08,1985-03-30,1986-04-02,1987-03-25,1988-04-03,1989-03-25,1990-03-20,3 27,NaN
岡山,True,1981-03-30,1982-03-25,1983-04-04,1984-04-10,1985-04-01,1986-04-03,1987-03-25,1988-04-05,1989-03-26,1990-03-23,3 29,NaN
神戸,True,1981-03-29,1982-03-24,1983-04-01,1984-04-10,1985-03-30,1986-04-03,1987-03-27,1988-04-05,1989-03-25,1990-03-21,3 28,NaN
大阪,True,1981-03-28,1982-03-23,1983-03-31,1984-04-10,1985-03-29,1986-04-02,1987-03-25,1988-04-05,1989-03-25,1990-03-21,3 28,NaN
洲本,NaN,1981-03-30,1982-03-25,1983-04-04,1984-04-10,1985-04-03,1986-04-05,1987-03-25,1988-04-06,1989-03-19,1990-03-21,-,NaN
和歌山,True,1981-03-25,1982-03-22,1983-04-02,1984-04-06,1985-03-28,1986-04-02,1987-03-25,1988-04-05,1989-03-20,1990-03-19,3 26,NaN
潮岬,NaN,1981-03-26,1982-03-24,1983-04-02,1984-04-02,1985-03-27,1986-03-30,1987-03-31,1988-04-05,1989-03-20,1990-03-23,-,NaN
奈良,True,1981-03-31,1982-03-28,1983-04-04,1984-04-12,1985-04-02,1986-04-04,1987-03-28,1988-04-07,1989-03-25,1990-03-23,3 29,NaN
松山,True,1981-03-26,1982-03-21,1983-04-01,1984-04-05,1985-03-28,1986-03-31,1987-03-24,1988-04-03,1989-03-21,1990-03-18,3 25,NaN
高松,True,1981-03-30,1982-03-24,1983-04-02,1984-04-08,1985-03-31,1986-04-03,1987-03-24,1988-04-05,1989-03-24,1990-03-21,3 28,NaN
宇和島,NaN,1981-03-25,1982-03-20,1983-03-30,1984-03-31,1985-03-26,1986-03-27,1987-03-23,1988-04-02,1989-03-15,1990-03-15,-,NaN
高知,True,1981-03-20,1982-03-17,1983-03-29,1984-03-30,1985-03-24,1986-03-25,1987-03-22,1988-03-28,1989-03-15,1990-03-14,3 22,NaN
徳島,True,1981-03-26,1982-03-23,1983-04-05,1984-04-06,1985-04-01,1986-04-01,1987-03-26,1988-04-05,1989-03-23,1990-03-21,3 28,NaN
下関,True,1981-03-27,1982-03-23,1983-03-31,1984-04-06,1985-04-02,1986-04-02,1987-03-24,1988-04-04,1989-03-22,1990-03-20,3 27,NaN
厳原,NaN,1981-03-26,1982-03-22,1983-03-31,1984-04-05,1985-03-29,1986-04-02,1987-03-23,1988-04-02,1989-03-22,1990-03-18,-,NaN
福岡,True,1981-03-25,1982-03-20,1983-03-31,1984-04-05,1985-04-01,1986-03-29,1987-03-22,1988-04-02,1989-03-17,1990-03-14,3 23,NaN
佐賀,True,1981-03-24,1982-03-19,1983-03-30,1984-03-31,1985-03-29,1986-03-26,1987-03-23,1988-04-02,1989-03-20,1990-03-17,3 24,NaN
大分,True,1981-03-25,1982-03-19,1983-04-01,1984-04-03,1985-03-28,1986-03-30,1987-03-23,1988-04-02,1989-03-20,1990-03-16,3 24,NaN
福江,NaN,1981-03-26,1982-03-23,1983-03-31,1984-04-03,1985-03-28,1986-03-30,1987-03-29,1988-04-01,1989-03-22,1990-03-19,-,NaN
長崎,True,1981-03-23,1982-03-19,1983-03-29,1984-03-31,1985-03-29,1986-03-27,1987-03-23,1988-04-01,1989-03-18,1990-03-15,3 24,NaN
熊本,True,1981-03-23,1982-03-19,1983-03-28,1984-03-31,1985-03-27,1986-03-26,1987-03-24,1988-04-01,1989-03-18,1990-03-17,3 23,NaN
延岡,NaN,1981-03-25,1982-03-21,1983-03-29,1984-03-31,1985-03-27,1986-03-27,1987-03-25,1988-04-02,1989-03-16,1990-03-21,-,NaN
鹿児島,True,1981-03-22,1982-03-19,1983-03-27,1984-03-26,1985-03-26,1986-03-22,1987-03-26,1988-04-03,1989-03-25,1990-03-22,3 26,NaN
宮崎,True,1981-03-24,1982-03-18,1983-03-28,1984-03-28,1985-03-26,1986-03-24,1987-03-24,1988-04-02,1989-03-22,1990-03-19,3 24,NaN
屋久島,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,NaN
種子島,NaN,1981-03-22,1982-03-24,1983-03-29,1984-03-30,1985-03-28,1986-03-24,1987-03-27,1988-03-31,1989-03-22,1990-03-19,-,NaN
名瀬,True,1981-01-21,1982-01-21,1983-01-26,1984-01-27,1985-01-27,1986-01-19,1987-01-16,1988-01-12,1989-01-06,1990-01-14,1 19,ひかんざくら
与那国島,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,-,ひかんざくら
石垣島,True,1981-01-21,1982-01-11,1983-01-18,1984-01-14,1985-01-11,1986-01-14,1987-01-03,1988-01-01,1988-12-27,1990-01-05,1 16,ひかんざくら
宮古島,True,1981-01-28,1982-01-20,1983-01-17,1984-01-21,1985-01-06,1986-01-23,1987-01-16,1988-01-17,1989-01-08,1990-01-11,1 16,ひかんざくら
久米島,NaN,1981-01-27,1982-01-22,1983-01-30,1984-01-24,1985-01-23,1986-01-15,1987-01-08,1988-01-06,1988-12-31,1989-12-31,-,ひかんざくら
那覇,True,1981-01-24,1982-01-05,1983-01-16,1984-01-23,1985-01-23,1986-01-09,1987-01-23,1988-01-19,1989-01-09,1990-01-21,1 18,ひかんざくら
名護,NaN,1981-01-09,1981-12-30,1983-01-05,1984-01-13,1985-01-22,1985-12-26,1987-01-09,1988-01-04,1988-12-31,1989-12-30,-,ひかんざくら
西表島,NaN,1981-01-27,1982-01-10,1983-01-22,1984-01-17,1985-01-26,1986-01-23,1987-01-21,1988-01-15,1989-01-15,1990-01-18,-,ひかんざくら
南大東島,True,1981-01-22,1982-01-24,1983-01-25,1984-01-19,1985-01-20,1986-01-18,1987-01-21,1988-01-29,1989-01-17,1990-01-16,1 20,ひかんざくら

,Currently Being Observed,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,30 Year Average 1981-2010,Notes
Site Name,,,,,,,,,,,,,
稚内,True,1981-05-11,1982-05-16,1983-05-06,1984-05-24,1985-05-13,1986-05-13,1987-05-16,1988-05-15,1989-05-16,1990-05-06,5 14,えぞやまざくら
留萌,NaN,1981-05-09,1982-05-10,1983-04-30,1984-05-22,1985-05-11,1986-05-09,1987-05-09,1988-05-09,1989-05-03,1990-04-26,-,えぞやまざくら
旭川,True,1981-05-05,1982-05-05,1983-04-27,1984-05-14,1985-05-03,1986-05-06,1987-05-09,1988-05-07,1989-05-03,1990-04-28,5 5,えぞやまざくら
網走,True,1981-05-14,1982-05-11,1983-05-03,1984-05-24,1985-05-10,1986-05-08,1987-05-09,1988-05-12,1989-05-16,1990-05-07,5 11,えぞやまざくら
札幌,True,1981-05-05,1982-05-04,1983-04-28,1984-05-12,1985-05-03,1986-05-05,1987-05-06,1988-05-03,1989-04-29,1990-04-25,5 3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
久米島,NaN,1981-01-27,1982-01-22,1983-01-30,1984-01-24,1985-01-23,1986-01-15,1987-01-08,1988-01-06,1988-12-31,1989-12-31,-,ひかんざくら
那覇,True,1981-01-24,1982-01-05,1983-01-16,1984-01-23,1985-01-23,1986-01-09,1987-01-23,1988-01-19,1989-01-09,1990-01-21,1 18,ひかんざくら
名護,NaN,1981-01-09,1981-12-30,1983-01-05,1984-01-13,1985-01-22,1985-12-26,1987-01-09,1988-01-04,1988-12-31,1989-12-30,-,ひかんざくら
西表島,NaN,1981-01-27,1982-01-10,1983-01-22,1984-01-17,1985-01-26,1986-01-23,1987-01-21,1988-01-15,1989-01-15,1990-01-18,-,ひかんざくら
南大東島,True,1981-01-22,1982-01-24,1983-01-25,1984-01-19,1985-01-20,1986-01-18,1987-01-21,1988-01-29,1989-01-17,1990-01-16,1 20,ひかんざくら

In [136]:
import re
debug_print = True

bloom_req = requests.get('https://www.data.jma.go.jp/sakura/data/sakura003_03.html')
bloom_content = BeautifulSoup(bloom_req.content, 'lxml')

# Convert the text table to a string IO so that pandas can read it in.
#print(bloom_content.find(id='main').pre.text)
bloom_string = StringIO(bloom_content.find(id='main').pre.text)

String = '地点名　     1953   1954   1955   1956   1957   1958   1959   1960   平年値   代替種目'
String2 = '地点名　     2011   2012   2013   2014   2015   2016   2017   2018   2019   2020   平年値   代替種目'

#Find the first real line so we can dynmiacally determine the column spacings
for line in bloom_string:
    if line.isspace() == False:
        break;

#Find all of the character locations of each year
year_iter = re.finditer("\d{4}", line)
year_indices = [(m.start(0),m.end(0)+3) for m in year_iter]

#Pick the ending character of the last year so we can add the last two columns.
end_char = year_indices[-1][1]

dynamic_colspecs = [(0,5),(5,9)]
end_colspecs = [(end_char,end_char+8),(end_char+8,None)]

# Put everything together in the same list
dynamic_colspecs.extend(year_indices)
dynamic_colspecs.extend(end_colspecs)

print(dynamic_colspecs)
# Reset the string stream so we can re-parse the entire thing.
bloom_string.seek(0)

if debug_print:
    print(bloom_string.getvalue())

tst_names = ['地点名', 'Unnamed: 1', '1953', '1954', '1955','1956','1957','1958','1959','1960','平年値','代替種目']
unparsed_data = pd.read_fwf(bloom_string,header=0,colspecs=dynamic_colspecs,true_values=['*'])
with pd.option_context('display.max_rows', None):
    if debug_print:
        display(unparsed_data)

[(0, 5), (5, 9), (9, 16), (16, 23), (23, 30), (30, 37), (37, 44), (44, 51), (51, 58), (58, 65), (65, 72), (72, 79), (79, 87), (87, None)]


地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

稚内     *   5 11   5 16   5  6   5 24   5 13   5 13   5 16   5 15   5 16   5  6    5 14    えぞやまざくら
留萌         5  9   5 10   4 30   5 22   5 11   5  9   5  9   5  9   5  3   4 26       -    えぞやまざくら
旭川     *   5  5   5  5   4 27   5 14   5  3   5  6   5  9   5  7   5  3   4 28    5  5    えぞやまざくら
網走     *   5 14   5 11   5  3   5 24   5 10   5  8   5  9   5 12   5 16   5  7    5 11    えぞやまざくら
札幌     *   5  5   5  4   4 28   5 12   5  3   5  5   5  6   5  3   4 29   4 25    5  3
岩見沢       5  7   5  5   4 27   5 17   5  4   5  5   5  8   5  5   4 28   4 26       -    えぞやまざくら
帯広     *   5  4   5  6   5  1   5 19   5  3   5  6   5  4   5  4   5  5   5  1    5  4    えぞやまざくら
釧路     *   5 22   5 17   5 12   5 30   5 18   5 16   5 17   5 18   5 18   5 10    5 17    えぞやまざくら
根室         5 24   5 19   5 15   5 30   5 19   5 19   5 15   5 22   5 20   5 11       -    ちしまざくら
室蘭     *   5  6   5 10   4 29   5 25   5 10   5  8   5  9   5  6   4 30   4 26    5  6

浦河         5 12   5 13   5  5   5 25   5 12   5 10   5 12   5 12   5  8   5  6       -    えぞやまざくら
江差         5  3   5  2   4 26   5 19   5  4   5  6   5  5   5  4   4 23   4 23       -
函館     *   5  3   5  7   4 27   5 23   5  4   5  5   5  4   5  2   4 23   4 22    4 30
倶知安       5 10   5 11   5  1   5 22   5 11   5 11   5 13   5 14   5  5   5  6       -    （注）
紋別         5 11   5 12   5  1   5 25   5 10   5  6   5  6   5 11   5 15   5  6       -    えぞやまざくら
広尾         5  7   5  9   5  1   5 28   5 10   5  9   5  5   5  7   5  7   5  3       -    えぞやまざくら
新庄         4 27   4 23   4 18   5  6   4 25   4 26   4 21   4 26   4 14   4 13       -
青森     *   4 27   4 27   4 21   5 11   4 29   5  1   4 25   4 28   4 15   4 15    4 24
八戸         4 25   4 26   4 20   5 18   4 27   4 29   4 23   4 27   4 15   4 12       -
秋田     *   4 22   4 20   4 15   4 30   4 19   4 20   4 17   4 23   4 10   4 10    4 18

地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

盛岡     *   4 24   4 23   4 18   5  6   4 25   4 29   4 23   4 27   4 14   4 13    4 21
宮古         4 23   4 17   4 16   5  7   4 21   4 22   4 18   4 20   4 13   4 11       -
酒田         4 17   4 14   4 14   4 27   4 15   4 20   4 15   4 20   4  6   4  7       -
山形     *   4 21   4 16   4 14   4 29   4 19   4 20   4 15   4 20   4  7   4  9    4 15
仙台     *   4 13   4 11   4 13   4 28   4 17   4 19   4 10   4 17   4  3   4  3    4 11
福島     *   4 12   4  8   4 10   4 25   4 14   4 17   4  6   4 16   4  1   4  3    4  9
白河         4 16   4 14   4 14   4 28   4 17   4 22   4 10   4 20   4  9   4  8       -
小名浜       4 11   4  6   4 11   4 25   4 11   4 17   4  5   4 13   3 30   3 30       -
輪島         4 10   4  7   4 11   4 24   4 13   4 14   4  7   4 15   4  1   4  2       -
相川         4 12   4 12   4 12   4 27   4 13   4 19   4 10   4 20   4  7   4  4       -

新潟     *   4 13   4  9   4 12   4 26   4 10   4 17   4  8   4 16   4  1   4  1    4  9
金沢     *   4  8   4  2   4  8   4 17   4  7   4 10   3 30   4 12   3 26   3 28    4  4
富山     *   4 10   4  2   4  9   4 20   4 10   4 11   4  5   4 14   3 29   4  1    4  5
長野     *   4 17   4 13   4 13   4 26   4 13   4 20   4  9   4 20   4  6   4  7    4 13
高田         4 14   4  6   4 10   4 25   4 12   4 16   4  6   4 14   3 31   4  1       -
宇都宮   *   4  6   4  1   4  7   4 18   4  6   4 11   3 31   4  7   3 27   3 25    4  1
福井     *   4  9   4  1   4  7   4 17   4  8   4 10   4  4   4 12   3 28   3 27    4  3
高山         4 23   4 17   4 14   4 28   4 15   4 21   4 15   4 22   4  9   4  9       -
松本         4 14   4 10   4 12   4 24   4 14   4 18   4  8   4 19   4  4   4  4       -
前橋     *   3 30   3 27   4  5   4 15   4  5   4  8   3 26   4  5   3 26   3 24    3 31

地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

熊谷     *   3 30   3 28   4  4   4 14   4  4   4  6   3 25   4  4   3 26   3 22    3 29
水戸     *   4  8   4  1   4  7   4 20   4  7   4 10   3 28   4  6   3 27   3 25    4  2
敦賀         4  8   3 30   4  7   4 17   4  7   4  9   4  2   4 12   3 24   3 25       -
岐阜     *   3 30   3 23   4  2   4 12   3 29   4  1   3 26   4  3   3 16   3 17    3 26
名古屋   *   3 28   3 23   3 31   4 11   3 28   4  1   3 25   4  3   3 17   3 17    3 26
飯田         4  8   4  1   4  9   4 19   4  6   4 12   4  5   4 14   3 29   3 28       -
甲府     *   3 29   3 27   4  4   4 12   3 30   4  4   3 26   4  4   3 25   3 20    3 27
銚子     *   4  2   3 26   4  5   4 16   4  3   4  8   3 25   4  3   3 20   3 21    3 31
津       *   3 28   3 24   4  3   4 12   3 30   4  3   3 25   4  5   3 25   3 22    3 30
浜松         3 26   3 23   4  1   4  6   3 27   3 30   3 25   4  3   3 21   3 17       -

静岡     *   3 26   3 23   4  3   4  6   3 28   3 30   3 26   4  3   3 21   3 20    3 25
東京     *   3 26   3 23   3 31   4 11   4  3   4  3   3 23   4  2   3 20   3 20    3 26
尾鷲         3 26   3 23   4  3   4  5   3 29   3 30   3 28   3 30   3 17   3 20       -
横浜     *   3 27   3 23   4  2   4 10   4  1   4  2   3 21   4  2   3 21   3 18    3 26
館山         4  1   3 25   4  6   4  9   4  3   3 31   3 25   4  5   3 25   3 20       -
大島         3 29   3 24   4  3   4  7   4  3   4  1   3 29   4  5   3 22   3 20       -
三宅島       3 26   3 26   4  2   4  4   3 25   3 29   3 30   4  4   3 16   3 20       -
八丈島       3 25   3 29   4  6   4  2   3 28   3 27   4  9   4  3   3 29   3 30       -
西郷         4  5   4  1   4  7   4 17   4  7   4  9   3 31   4 11   3 30   3 27       -
松江     *   4  4   3 30   4  6   4 13   4  5   4  7   3 30   4 10   3 28   3 24    3 31

地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

米子         4  3   3 30   4  5   4 14   4  4   4  8   3 30   4 11   3 29   3 24       -
鳥取     *   3 31   3 30   4  6   4 13   4  4   4  7   3 29   4 11   3 29   3 24    3 31
豊岡         4  5   3 31   4  4   4 16   4  8   4 10   4  4   4 13   3 30   3 28       -
舞鶴         4  5   3 30   4  5   4 16   4  6   4  9   4  4   4 12   3 30   3 26    4  3
浜田         3 28   3 23   4  4   4  9   4  1   4  3   3 26   4  6   3 26   3 20       -
京都     *   3 30   3 24   4  2   4  9   4  2   4  3   3 27   4  5   3 24   3 21    3 28
彦根     *   4  5   3 30   4  6   4 15   4  6   4  9   4  4   4  7   3 30   3 23    4  2
広島     *   3 30   3 24   4  4   4  8   3 30   4  2   3 25   4  3   3 25   3 20    3 27
岡山     *   3 30   3 25   4  4   4 10   4  1   4  3   3 25   4  5   3 26   3 23    3 29
神戸     *   3 29   3 24   4  1   4 10   3 30   4  3   3 27   4  5   3 25   3 21    3 28

大阪     *   3 28   3 23   3 31   4 10   3 29   4  2   3 25   4  5   3 25   3 21    3 28
洲本         3 30   3 25   4  4   4 10   4  3   4  5   3 25   4  6   3 19   3 21       -
和歌山   *   3 25   3 22   4  2   4  6   3 28   4  2   3 25   4  5   3 20   3 19    3 26
潮岬         3 26   3 24   4  2   4  2   3 27   3 30   3 31   4  5   3 20   3 23       -
奈良     *   3 31   3 28   4  4   4 12   4  2   4  4   3 28   4  7   3 25   3 23    3 29
松山     *   3 26   3 21   4  1   4  5   3 28   3 31   3 24   4  3   3 21   3 18    3 25
高松     *   3 30   3 24   4  2   4  8   3 31   4  3   3 24   4  5   3 24   3 21    3 28
宇和島       3 25   3 20   3 30   3 31   3 26   3 27   3 23   4  2   3 15   3 15       -
高知     *   3 20   3 17   3 29   3 30   3 24   3 25   3 22   3 28   3 15   3 14    3 22
徳島     *   3 26   3 23   4  5   4  6   4  1   4  1   3 26   4  5   3 23   3 21    3 28

地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

下関     *   3 27   3 23   3 31   4  6   4  2   4  2   3 24   4  4   3 22   3 20    3 27
厳原         3 26   3 22   3 31   4  5   3 29   4  2   3 23   4  2   3 22   3 18       -
福岡     *   3 25   3 20   3 31   4  5   4  1   3 29   3 22   4  2   3 17   3 14    3 23
佐賀     *   3 24   3 19   3 30   3 31   3 29   3 26   3 23   4  2   3 20   3 17    3 24
大分     *   3 25   3 19   4  1   4  3   3 28   3 30   3 23   4  2   3 20   3 16    3 24
福江         3 26   3 23   3 31   4  3   3 28   3 30   3 29   4  1   3 22   3 19       -
長崎     *   3 23   3 19   3 29   3 31   3 29   3 27   3 23   4  1   3 18   3 15    3 24
熊本     *   3 23   3 19   3 28   3 31   3 27   3 26   3 24   4  1   3 18   3 17    3 23
延岡         3 25   3 21   3 29   3 31   3 27   3 27   3 25   4  2   3 16   3 21       -
鹿児島   *   3 22   3 19   3 27   3 26   3 26   3 22   3 26   4  3   3 25   3 22    3 26

宮崎     *   3 24   3 18   3 28   3 28   3 26   3 24   3 24   4  2   3 22   3 19    3 24
屋久島          -      -      -      -      -      -      -      -      -      -       -
種子島       3 22   3 24   3 29   3 30   3 28   3 24   3 27   3 31   3 22   3 19       -
名瀬     *   1 21   1 21   1 26   1 27   1 27   1 19   1 16   1 12   1  6   1 14    1 19    ひかんざくら
与那国島        -      -      -      -      -      -      -      -      -      -       -    ひかんざくら
石垣島   *   1 21   1 11   1 18   1 14   1 11   1 14   1  3   1  1  12 27#  1  5    1 16    ひかんざくら
宮古島   *   1 28   1 20   1 17   1 21   1  6   1 23   1 16   1 17   1  8   1 11    1 16    ひかんざくら
久米島       1 27   1 22   1 30   1 24   1 23   1 15   1  8   1  6  12 31# 12 31#      -    ひかんざくら
那覇     *   1 24   1  5   1 16   1 23   1 23   1  9   1 23   1 19   1  9   1 21    1 18    ひかんざくら
名護         1  9  12 30#  1  5   1 13   1 22  12 26#  1  9   1  4  12 31# 12 30#      -    ひかんざくら

地点名　     1981   1982   1983   1984   1985   1986   1987   1988   1989   1990   平年値   代替種目
            月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日  月 日   月 日

西表島       1 27   1 10   1 22   1 17   1 26   1 23   1 21   1 15   1 15   1 18       -    ひかんざくら
南大東島 *   1 22   1 24   1 25   1 19   1 20   1 18   1 21   1 29   1 17   1 16    1 20    ひかんざくら

,地点名,Unnamed: 1,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,平年値 代替,種目
0,NaN,NaN,月 日,月 日 月,日 月 日,月 日,月 日 月,日 月 日,月 日 月,日 月,日,NaN,NaN,NaN
1,稚内,True,5 11,5 16,5 6,5 24,5 13,5 13,5 16,5 15,5 16,5 6,5 14,えぞやまざくら
2,留萌,NaN,5 9,5 10,4 30,5 22,5 11,5 9,5 9,5 9,5 3,4 26,-,えぞやまざくら
3,旭川,True,5 5,5 5,4 27,5 14,5 3,5 6,5 9,5 7,5 3,4 28,5 5,えぞやまざくら
4,網走,True,5 14,5 11,5 3,5 24,5 10,5 8,5 9,5 12,5 16,5 7,5 11,えぞやまざくら
5,札幌,True,5 5,5 4,4 28,5 12,5 3,5 5,5 6,5 3,4 29,4 25,5 3,NaN
6,岩見沢,NaN,5 7,5 5,4 27,5 17,5 4,5 5,5 8,5 5,4 28,4 26,-,えぞやまざくら
7,帯広,True,5 4,5 6,5 1,5 19,5 3,5 6,5 4,5 4,5 5,5 1,5 4,えぞやまざくら
8,釧路,True,5 22,5 17,5 12,5 30,5 18,5 16,5 17,5 18,5 18,5 10,5 17,えぞやまざくら
9,根室,NaN,5 24,5 19,5 15,5 30,5 19,5 19,5 15,5 22,5 20,5 11,-,ちしまざくら
10,室蘭,True,5 6,5 10,4 29,5 25,5 10,5 8,5 9,5 6,4 30,4 26,5 6,NaN
11,浦河,NaN,5 12,5 13,5 5,5 25,5 12,5 10,5 12,5 12,5 8,5 6,-,えぞやまざくら
12,江差,NaN,5 3,5 2,4 26,5 19,5 4,5 6,5 5,5 4,4 23,4 23,-,NaN
13,函館,True,5 3,5 7,4 27,5 23,5 4,5 5,5 4,5 2,4 23,4 22,4 30,NaN
14,倶知安,NaN,5 10,5 11,5 1,5 22,5 11,5 11,5 13,5 14,5 5,5 6,-,（注）
15,紋別,NaN,5 11,5 12,5 1,5 25,5 10,5 6,5 6,5 11,5 15,5 6,-,えぞやまざくら
16,広尾,NaN,5 7,5 9,5 1,5 28,5 10,5 9,5 5,5 7,5 7,5 3,-,えぞやまざくら
17,新庄,NaN,4 27,4 23,4 18,5 6,4 25,4 26,4 21,4 26,4 14,4 13,-,NaN
18,青森,True,4 27,4 27,4 21,5 11,4 29,5 1,4 25,4 28,4 15,4 15,4 24,NaN
19,八戸,NaN,4 25,4 26,4 20,5 18,4 27,4 29,4 23,4 27,4 15,4 12,-,NaN
20,秋田,True,4 22,4 20,4 15,4 30,4 19,4 20,4 17,4 23,4 10,4 10,4 18,NaN
21,地点名,NaN,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,平年値 代替,種目
22,NaN,NaN,月 日,月 日 月,日 月 日,月 日,月 日 月,日 月 日,月 日 月,日 月,日,NaN,NaN,NaN
23,盛岡,True,4 24,4 23,4 18,5 6,4 25,4 29,4 23,4 27,4 14,4 13,4 21,NaN
24,宮古,NaN,4 23,4 17,4 16,5 7,4 21,4 22,4 18,4 20,4 13,4 11,-,NaN
25,酒田,NaN,4 17,4 14,4 14,4 27,4 15,4 20,4 15,4 20,4 6,4 7,-,NaN
26,山形,True,4 21,4 16,4 14,4 29,4 19,4 20,4 15,4 20,4 7,4 9,4 15,NaN
27,仙台,True,4 13,4 11,4 13,4 28,4 17,4 19,4 10,4 17,4 3,4 3,4 11,NaN
28,福島,True,4 12,4 8,4 10,4 25,4 14,4 17,4 6,4 16,4 1,4 3,4 9,NaN
29,白河,NaN,4 16,4 14,4 14,4 28,4 17,4 22,4 10,4 20,4 9,4 8,-,NaN
30,小名浜,NaN,4 11,4 6,4 11,4 25,4 11,4 17,4 5,4 13,3 30,3 30,-,NaN
31,輪島,NaN,4 10,4 7,4 11,4 24,4 13,4 14,4 7,4 15,4 1,4 2,-,NaN
32,相川,NaN,4 12,4 12,4 12,4 27,4 13,4 19,4 10,4 20,4 7,4 4,-,NaN
33,新潟,True,4 13,4 9,4 12,4 26,4 10,4 17,4 8,4 16,4 1,4 1,4 9,NaN
34,金沢,True,4 8,4 2,4 8,4 17,4 7,4 10,3 30,4 12,3 26,3 28,4 4,NaN
35,富山,True,4 10,4 2,4 9,4 20,4 10,4 11,4 5,4 14,3 29,4 1,4 5,NaN
36,長野,True,4 17,4 13,4 13,4 26,4 13,4 20,4 9,4 20,4 6,4 7,4 13,NaN
37,高田,NaN,4 14,4 6,4 10,4 25,4 12,4 16,4 6,4 14,3 31,4 1,-,NaN
38,宇都宮,True,4 6,4 1,4 7,4 18,4 6,4 11,3 31,4 7,3 27,3 25,4 1,NaN
39,福井,True,4 9,4 1,4 7,4 17,4 8,4 10,4 4,4 12,3 28,3 27,4 3,NaN
40,高山,NaN,4 23,4 17,4 14,4 28,4 15,4 21,4 15,4 22,4 9,4 9,-,NaN
41,松本,NaN,4 14,4 10,4 12,4 24,4 14,4 18,4 8,4 19,4 4,4 4,-,NaN
42,前橋,True,3 30,3 27,4 5,4 15,4 5,4 8,3 26,4 5,3 26,3 24,3 31,NaN
43,地点名,NaN,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,平年値 代替,種目
44,NaN,NaN,月 日,月 日 月,日 月 日,月 日,月 日 月,日 月 日,月 日 月,日 月,日,NaN,NaN,NaN
45,熊谷,True,3 30,3 28,4 4,4 14,4 4,4 6,3 25,4 4,3 26,3 22,3 29,NaN
46,水戸,True,4 8,4 1,4 7,4 20,4 7,4 10,3 28,4 6,3 27,3 25,4 2,NaN
47,敦賀,NaN,4 8,3 30,4 7,4 17,4 7,4 9,4 2,4 12,3 24,3 25,-,NaN
48,岐阜,True,3 30,3 23,4 2,4 12,3 29,4 1,3 26,4 3,3 16,3 17,3 26,NaN
49,名古屋,True,3 28,3 23,3 31,4 11,3 28,4 1,3 25,4 3,3 17,3 17,3 26,NaN
50,飯田,NaN,4 8,4 1,4 9,4 19,4 6,4 12,4 5,4 14,3 29,3 28,-,NaN
51,甲府,True,3 29,3 27,4 4,4 12,3 30,4 4,3 26,4 4,3 25,3 20,3 27,NaN
52,銚子,True,4 2,3 26,4 5,4 16,4 3,4 8,3 25,4 3,3 20,3 21,3 31,NaN
53,津,True,3 28,3 24,4 3,4 12,3 30,4 3,3 25,4 5,3 25,3 22,3 30,NaN
54,浜松,NaN,3 26,3 23,4 1,4 6,3 27,3 30,3 25,4 3,3 21,3 17,-,NaN
55,静岡,True,3 26,3 23,4 3,4 6,3 28,3 30,3 26,4 3,3 21,3 20,3 25,NaN
56,東京,True,3 26,3 23,3 31,4 11,4 3,4 3,3 23,4 2,3 20,3 20,3 26,NaN
57,尾鷲,NaN,3 26,3 23,4 3,4 5,3 29,3 30,3 28,3 30,3 17,3 20,-,NaN
58,横浜,True,3 27,3 23,4 2,4 10,4 1,4 2,3 21,4 2,3 21,3 18,3 26,NaN
59,館山,NaN,4 1,3 25,4 6,4 9,4 3,3 31,3 25,4 5,3 25,3 20,-,NaN
60,大島,NaN,3 29,3 24,4 3,4 7,4 3,4 1,3 29,4 5,3 22,3 20,-,NaN
61,三宅島,NaN,3 26,3 26,4 2,4 4,3 25,3 29,3 30,4 4,3 16,3 20,-,NaN
62,八丈島,NaN,3 25,3 29,4 6,4 2,3 28,3 27,4 9,4 3,3 29,3 30,-,NaN
63,西郷,NaN,4 5,4 1,4 7,4 17,4 7,4 9,3 31,4 11,3 30,3 27,-,NaN
64,松江,True,4 4,3 30,4 6,4 13,4 5,4 7,3 30,4 10,3 28,3 24,3 31,NaN
65,地点名,NaN,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,平年値 代替,種目
66,NaN,NaN,月 日,月 日 月,日 月 日,月 日,月 日 月,日 月 日,月 日 月,日 月,日,NaN,NaN,NaN
67,米子,NaN,4 3,3 30,4 5,4 14,4 4,4 8,3 30,4 11,3 29,3 24,-,NaN
68,鳥取,True,3 31,3 30,4 6,4 13,4 4,4 7,3 29,4 11,3 29,3 24,3 31,NaN
69,豊岡,NaN,4 5,3 31,4 4,4 16,4 8,4 10,4 4,4 13,3 30,3 28,-,NaN
70,舞鶴,NaN,4 5,3 30,4 5,4 16,4 6,4 9,4 4,4 12,3 30,3 26,4 3,NaN
71,浜田,NaN,3 28,3 23,4 4,4 9,4 1,4 3,3 26,4 6,3 26,3 20,-,NaN
72,京都,True,3 30,3 24,4 2,4 9,4 2,4 3,3 27,4 5,3 24,3 21,3 28,NaN
73,彦根,True,4 5,3 30,4 6,4 15,4 6,4 9,4 4,4 7,3 30,3 23,4 2,NaN
74,広島,True,3 30,3 24,4 4,4 8,3 30,4 2,3 25,4 3,3 25,3 20,3 27,NaN
75,岡山,True,3 30,3 25,4 4,4 10,4 1,4 3,3 25,4 5,3 26,3 23,3 29,NaN
76,神戸,True,3 29,3 24,4 1,4 10,3 30,4 3,3 27,4 5,3 25,3 21,3 28,NaN
77,大阪,True,3 28,3 23,3 31,4 10,3 29,4 2,3 25,4 5,3 25,3 21,3 28,NaN
78,洲本,NaN,3 30,3 25,4 4,4 10,4 3,4 5,3 25,4 6,3 19,3 21,-,NaN
79,和歌山,True,3 25,3 22,4 2,4 6,3 28,4 2,3 25,4 5,3 20,3 19,3 26,NaN
80,潮岬,NaN,3 26,3 24,4 2,4 2,3 27,3 30,3 31,4 5,3 20,3 23,-,NaN
81,奈良,True,3 31,3 28,4 4,4 12,4 2,4 4,3 28,4 7,3 25,3 23,3 29,NaN
82,松山,True,3 26,3 21,4 1,4 5,3 28,3 31,3 24,4 3,3 21,3 18,3 25,NaN
83,高松,True,3 30,3 24,4 2,4 8,3 31,4 3,3 24,4 5,3 24,3 21,3 28,NaN
84,宇和島,NaN,3 25,3 20,3 30,3 31,3 26,3 27,3 23,4 2,3 15,3 15,-,NaN
85,高知,True,3 20,3 17,3 29,3 30,3 24,3 25,3 22,3 28,3 15,3 14,3 22,NaN
86,徳島,True,3 26,3 23,4 5,4 6,4 1,4 1,3 26,4 5,3 23,3 21,3 28,NaN
87,地点名,NaN,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,平年値 代替,種目
88,NaN,NaN,月 日,月 日 月,日 月 日,月 日,月 日 月,日 月 日,月 日 月,日 月,日,NaN,NaN,NaN
89,下関,True,3 27,3 23,3 31,4 6,4 2,4 2,3 24,4 4,3 22,3 20,3 27,NaN
90,厳原,NaN,3 26,3 22,3 31,4 5,3 29,4 2,3 23,4 2,3 22,3 18,-,NaN
91,福岡,True,3 25,3 20,3 31,4 5,4 1,3 29,3 22,4 2,3 17,3 14,3 23,NaN
92,佐賀,True,3 24,3 19,3 30,3 31,3 29,3 26,3 23,4 2,3 20,3 17,3 24,NaN
93,大分,True,3 25,3 19,4 1,4 3,3 28,3 30,3 23,4 2,3 20,3 16,3 24,NaN
94,福江,NaN,3 26,3 23,3 31,4 3,3 28,3 30,3 29,4 1,3 22,3 19,-,NaN
95,長崎,True,3 23,3 19,3 29,3 31,3 29,3 27,3 23,4 1,3 18,3 15,3 24,NaN
96,熊本,True,3 23,3 19,3 28,3 31,3 27,3 26,3 24,4 1,3 18,3 17,3 23,NaN
97,延岡,NaN,3 25,3 21,3 29,3 31,3 27,3 27,3 25,4 2,3 16,3 21,-,NaN
98,鹿児島,True,3 22,3 19,3 27,3 26,3 26,3 22,3 26,4 3,3 25,3 22,3 26,NaN
99,宮崎,True,3 24,3 18,3 28,3 28,3 26,3 24,3 24,4 2,3 22,3 19,3 24,NaN
100,屋久島,NaN,-,-,-,-,-,-,-,-,-,-,-,NaN
101,種子島,NaN,3 22,3 24,3 29,3 30,3 28,3 24,3 27,3 31,3 22,3 19,-,NaN
102,名瀬,True,1 21,1 21,1 26,1 27,1 27,1 19,1 16,1 12,1 6,1 14,1 19,ひかんざくら
103,与那国島,NaN,-,-,-,-,-,-,-,-,-,-,-,ひかんざくら
104,石垣島,True,1 21,1 11,1 18,1 14,1 11,1 14,1 3,1 1,12 27#,1 5,1 16,ひかんざくら
105,宮古島,True,1 28,1 20,1 17,1 21,1 6,1 23,1 16,1 17,1 8,1 11,1 16,ひかんざくら
106,久米島,NaN,1 27,1 22,1 30,1 24,1 23,1 15,1 8,1 6,12 31#,12 31#,-,ひかんざくら
107,那覇,True,1 24,1 5,1 16,1 23,1 23,1 9,1 23,1 19,1 9,1 21,1 18,ひかんざくら
108,名護,NaN,1 9,12 30#,1 5,1 13,1 22,12 26#,1 9,1 4,12 31#,12 30#,-,ひかんざくら
109,地点名,NaN,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,平年値 代替,種目
110,NaN,NaN,月 日,月 日 月,日 月 日,月 日,月 日 月,日 月 日,月 日 月,日 月,日,NaN,NaN,NaN
111,西表島,NaN,1 27,1 10,1 22,1 17,1 26,1 23,1 21,1 15,1 15,1 18,-,ひかんざくら
112,南大東島,True,1 22,1 24,1 25,1 19,1 20,1 18,1 21,1 29,1 17,1 16,1 20,ひかんざくら

In [70]:
debug_print = False
testing = process_sakura_url('https://www.data.jma.go.jp/sakura/data/sakura003_03.html')

print(testing.iloc[1])

Processing: 気象庁 | さくらの開花日(1981-1990年)
Currently Being Observed                     NaN
1981                         1981-05-09 00:00:00
1982                         1982-05-10 00:00:00
1983                         1983-04-30 00:00:00
1984                         1984-05-22 00:00:00
1985                         1985-05-11 00:00:00
1986                         1986-05-09 00:00:00
1987                         1987-05-09 00:00:00
1988                         1988-05-09 00:00:00
1989                         1989-05-03 00:00:00
1990                         1990-04-26 00:00:00
30 Year Average 1981-2010                      -
Notes                                    えぞやまざくら
Name: 留萌, dtype: object

In [45]:
testing.loc[testing['1989'] > '1989-10-01','1989']

Series([], Name: 1989, dtype: datetime64[ns])

In [52]:
testing.loc[testing['1989'] < '1989-01-01','1989']

Timestamp('1988-12-29 16:00:00')

In [28]:
concated.T.loc[concated.T.duplicated()]

Site Name,稚内,留萌,旭川,網走,札幌,岩見沢,帯広,釧路,根室,室蘭,...,種子島,名瀬,与那国島,石垣島,宮古島,久米島,那覇,名護,西表島,南大東島
Currently Being Observed,True,NaN,True,True,True,NaN,True,True,NaN,True,...,NaN,True,NaN,True,True,NaN,True,NaN,NaN,True
Notes,えぞやまざくら,えぞやまざくら,えぞやまざくら,えぞやまざくら,NaN,えぞやまざくら,えぞやまざくら,えぞやまざくら,ちしまざくら,NaN,...,NaN,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら
Currently Being Observed,True,NaN,True,True,True,NaN,True,True,NaN,True,...,NaN,True,NaN,True,True,NaN,True,NaN,NaN,True
Notes,えぞやまざくら,えぞやまざくら,えぞやまざくら,えぞやまざくら,NaN,えぞやまざくら,えぞやまざくら,えぞやまざくら,ちしまざくら,NaN,...,NaN,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら
Currently Being Observed,True,NaN,True,True,True,NaN,True,True,NaN,True,...,NaN,True,NaN,True,True,NaN,True,NaN,NaN,True
Notes,えぞやまざくら,えぞやまざくら,えぞやまざくら,えぞやまざくら,NaN,えぞやまざくら,えぞやまざくら,えぞやまざくら,ちしまざくら,NaN,...,NaN,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら
Currently Being Observed,True,NaN,True,True,True,NaN,True,True,NaN,True,...,NaN,True,NaN,True,True,NaN,True,NaN,NaN,True
Notes,えぞやまざくら,えぞやまざくら,えぞやまざくら,えぞやまざくら,NaN,えぞやまざくら,えぞやまざくら,えぞやまざくら,ちしまざくら,NaN,...,NaN,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら
Currently Being Observed,True,NaN,True,True,True,NaN,True,True,NaN,True,...,NaN,True,NaN,True,True,NaN,True,NaN,NaN,True
Notes,えぞやまざくら,えぞやまざくら,えぞやまざくら,えぞやまざくら,NaN,えぞやまざくら,えぞやまざくら,えぞやまざくら,ちしまざくら,NaN,...,NaN,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら
Currently Being Observed,True,NaN,True,True,True,NaN,True,True,NaN,True,...,NaN,True,NaN,True,True,NaN,True,NaN,NaN,True
30 Year Average 1981-2010,5 14,-,5 5,5 11,5 3,-,5 4,5 17,-,5 6,...,-,1 19,-,1 16,1 16,-,1 18,-,-,1 20
Notes,えぞやまざくら,えぞやまざくら,えぞやまざくら,えぞやまざくら,NaN,えぞやまざくら,えぞやまざくら,えぞやまざくら,ちしまざくら,NaN,...,NaN,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら,ひかんざくら

In [64]:
with pd.option_context('display.max_rows', None):
    display(concated.loc['名護','30 Year Average 1981-2010'])
    
concated.loc['名護','30 Year Average 1981-2010'].str.contains('#').any()

derp = '2019'

for entry in concated.loc['名護','30 Year Average 1981-2010']:
    if '#' in entry:
         print(entry)

30 Year Average 1981-2010           -
30 Year Average 1981-2010           -
30 Year Average 1981-2010    #      -
30 Year Average 1981-2010    #      -
30 Year Average 1981-2010           -
30 Year Average 1981-2010           -
30 Year Average 1981-2010           -
Name: 名護, dtype: object

#      -
#      -

In [32]:
untransposed = transposed.T

with pd.option_context('display.max_rows', None):
    display(untransposed['30 Year Average 1981-2010'])

,30 Year Average 1981-2010,30 Year Average 1981-2010,30 Year Average 1981-2010,30 Year Average 1981-2010,30 Year Average 1981-2010,30 Year Average 1981-2010
Site Name,,,,,,
稚内,5 14,5 14,5 14,5 14,5 14,5 14
留萌,-,-,-,-,-,-
旭川,5 5,5 5,5 5,5 5,5 5,5 5
網走,5 11,5 11,5 11,5 11,5 11,5 11
札幌,5 3,5 3,5 3,5 3,5 3,5 3
岩見沢,-,-,-,-,-,-
帯広,5 4,5 4,5 4,5 4,5 4,5 4
釧路,5 17,5 17,5 17,5 17,5 17,5 17
根室,-,-,-,-,-,-
室蘭,5 6,5 6,5 6,5 6,5 6,5 6
浦河,-,-,-,-,-,-
江差,-,-,-,-,-,-
函館,4 30,4 30,4 30,4 30,4 30,4 30
倶知安,-,-,-,-,-,-
紋別,-,-,-,-,-,-
広尾,-,-,-,-,-,-
新庄,-,-,-,-,-,-
青森,4 24,4 24,4 24,4 24,4 24,4 24
八戸,-,-,-,-,-,-
秋田,4 18,4 18,4 18,4 18,4 18,4 18
盛岡,4 21,4 21,4 21,4 21,4 21,4 21
宮古,-,-,-,-,-,-
酒田,-,-,-,-,-,-
山形,4 15,4 15,4 15,4 15,4 15,4 15
仙台,4 11,4 11,4 11,4 11,4 11,4 11
福島,4 9,4 9,4 9,4 9,4 9,4 9
白河,-,-,-,-,-,-
小名浜,-,-,-,-,-,-
輪島,-,-,-,-,-,-
相川,-,-,-,-,-,-
新潟,4 9,4 9,4 9,4 9,4 9,4 9
金沢,4 4,4 4,4 4,4 4,4 4,4 4
富山,4 5,4 5,4 5,4 5,4 5,4 5
長野,4 13,4 13,4 13,4 13,4 13,4 13
高田,-,-,-,-,-,-
宇都宮,4 1,4 1,4 1,4 1,4 1,4 1
福井,4 3,4 3,4 3,4 3,4 3,4 3
高山,-,-,-,-,-,-
松本,-,-,-,-,-,-
前橋,3 31,3 31,3 31,3 31,3 31,3 31
熊谷,3 29,3 29,3 29,3 29,3 29,3 29
水戸,4 2,4 2,4 2,4 2,4 2,4 2
敦賀,-,-,-,-,-,-
岐阜,3 26,3 26,3 26,3 26,3 26,3 26
名古屋,3 26,3 26,3 26,3 26,3 26,3 26
飯田,-,-,-,-,-,-
甲府,3 27,3 27,3 27,3 27,3 27,3 27
銚子,3 31,3 31,3 31,3 31,3 31,3 31
津,8 3 3,2 3 3,3 3 3,2 3 3,4 3 3,5 3 3
浜松,-,-,-,-,-,-
静岡,3 25,3 25,3 25,3 25,3 25,3 25
東京,3 26,3 26,3 26,3 26,3 26,3 26
尾鷲,-,-,-,-,-,-
横浜,3 26,3 26,3 26,3 26,3 26,3 26
館山,-,-,-,-,-,-
大島,-,-,-,-,-,-
三宅島,-,-,-,-,-,-
八丈島,-,-,-,-,-,-
西郷,-,-,-,-,-,-
松江,3 31,3 31,3 31,3 31,3 31,3 31
米子,-,-,-,-,-,-
鳥取,3 31,3 31,3 31,3 31,3 31,3 31
豊岡,-,-,-,-,-,-
舞鶴,4 3,4 3,4 3,4 3,4 3,4 3
浜田,-,-,-,-,-,-
京都,3 28,3 28,3 28,3 28,3 28,3 28
彦根,4 2,4 2,4 2,4 2,4 2,4 2
広島,3 27,3 27,3 27,3 27,3 27,3 27
岡山,3 29,3 29,3 29,3 29,3 29,3 29
神戸,3 28,3 28,3 28,3 28,3 28,3 28
大阪,3 28,3 28,3 28,3 28,3 28,3 28
洲本,-,-,-,-,-,-
和歌山,3 26,3 26,3 26,3 26,3 26,3 26
潮岬,-,-,-,-,-,-
奈良,3 29,3 29,3 29,3 29,3 29,3 29
松山,3 25,3 25,3 25,3 25,3 25,3 25
高松,3 28,3 28,3 28,3 28,3 28,3 28
宇和島,-,-,-,-,-,-
高知,3 22,3 22,3 22,3 22,3 22,3 22
徳島,3 28,3 28,3 28,3 28,3 28,3 28
下関,3 27,3 27,3 27,3 27,3 27,3 27
厳原,-,-,-,-,-,-
福岡,3 23,3 23,3 23,3 23,3 23,3 23
佐賀,3 24,3 24,3 24,3 24,3 24,3 24
大分,3 24,3 24,3 24,3 24,3 24,3 24
福江,-,-,-,-,-,-
長崎,3 24,3 24,3 24,3 24,3 24,3 24
熊本,3 23,3 23,3 23,3 23,3 23,3 23
延岡,-,-,-,-,-,-
鹿児島,3 26,3 26,3 26,3 26,3 26,3 26
宮崎,3 24,3 24,3 24,3 24,3 24,3 24
屋久島,-,-,-,-,-,-
種子島,-,-,-,-,-,-
名瀬,1 19,1 19,1 19,1 19,1 19,1 19
与那国島,-,-,-,-,-,-
石垣島,1 16,1 16,1 16,1 16,1 16,1 16
宮古島,1 16,1 16,1 16,1 16,1 16,1 16
久米島,-,-,-,-,-,-
那覇,1 18,1 18,1 18,1 18,# 1 18,1 18
名護,-,-,# -,# -,-,-
西表島,-,-,-,-,-,-
南大東島,1 20,1 20,1 20,1 20,1 20,1 20

In [65]:
debug_print = True
#process_sakura_url('https://www.data.jma.go.jp/sakura/data/sakura003_01.html')

In [133]:
col = '1990'

has_stuff = unparsed_data[col].str.contains('#',na=False)
no_stuff = ~unparsed_data[col].str.contains('#',na=False)
#unparsed_data.loc[~unparsed_data[col].str.contains('#',na=False),col] = unparsed_data.loc[~unparsed_data[col].str.contains('#',na=False),col] + f' {int(col)-1}'

In [134]:
unparsed_data.loc[has_stuff,col] = unparsed_data.loc[has_stuff,col].str.strip('#') + f' {int(col)-1}'

In [141]:
unparsed_data.loc[has_stuff,'1989'].str.replace("#","")

106    12 31
108    12 31
Name: 1989, dtype: object

In [108]:
bloom_content.title.text

'気象庁 | さくらの開花日(1981-1990年)'